<ion-modal-view ng-controller="OrderPurchaserDetailCtrl">

	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right" x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">产品详情</h1>
	</ion-header-bar>

	<style>
		.row.pager {
			padding: 0px;
			padding-top: 10px;
			color: gray;
		}

		.row.pager .col {
			border-top: solid DarkGray 1px;
			text-align: left;
			padding: 0px;
		}

		.row.pager .col div.prog {
			background-color: white;
			position: relative;
			left: -.6em;
			top: -.8em;
			width: 1em;
			text-align: center;
			height: 10em;
		}

		.row.pager .col.done {
			border-top: solid #f58220 1px;
			color: black;
		}

		.row.pager .col.done .icon {
			color: #f58220;
		}

		.row.pager .col.doing {
			color: #f58220;
		}

		.row.pager .col.first, .row.pager .col.last {
			border-top: solid white 1px;
		}

	</style>
	<ion-content has-header="true" padding="false">
		<div class="list top">
			<div class="item">
				<div class="item-avatar item-product">
					<img align="center" x-ng-src="{{item.Product.Image | URI:'product' }}" x-big-image>
				</div>
			</div>
			<div class="item">
				<div class="list data">
					<div class="item item-product-title">
						<h2>{{item.Product.Name}}</h2>
						<div>
							<i class="ion-ios7-pricetag-outline"></i>订单编号：{{item.OrderID}}
						</div>
						<div class="right">
							<i class="ion-ios7-clock-outline"></i>发布时间：{{item.Datetime}}
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="list data">
					<div class="item item-avatar item-product-user">
						<img src="{{item.CustomerImage | URI}}">
						<span>{{item.CustomerNickName}}</span>
						<a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
					</div>
					<div class="item">
						<span class="label"> 收件地址 </span><span class="item-value">中国 {{item.Address.Province}}-{{item.Address.City}}-{{item.Address.Area}}</span>
					</div>
					<div  class="item" x-ng-show="item.Product.CountryName">
						<span class="label"> 代购国家 </span><span class="item-value">{{item.Product.CountryName}}</span>
					</div>
					<div class="item" x-ng-show="item.Product.ExpectedPrice">
						<span class="label"> 预想单价 </span><span class="item-value strength"><b>{{item.Product.ExpectedPrice}}</b>&nbsp;元</span>
					</div>
					<div class="item" x-ng-show="item.Quantity">
						<span class="label"> 代购件数 </span><span class="item-value">{{item.Quantity}}</span>
					</div>
					<div class="item" x-ng-show="item.Product.Brand">
						<span class="label"> 品牌 </span><span class="item-value">{{item.Product.Brand}}</span>
					</div>
					<div class="item" x-ng-show="item.Product.Exts.Function">
						<span class="label"> 功效 </span><span class="item-value">{{item.Product.Exts.Function}}</span>
					</div>
					<div class="item" x-ng-show="item.Product.Exts.Color">
						<span class="label"> 色泽 </span><span class="item-value">{{item.Product.Exts.Color}}</span>
					</div>
				</div>
			</div>
			<div class="item"  x-ng-show="item.Product.Description">
				<div class="list data">
					<div class="item comment item-icon-right">
						<span class="label"> 说明 </span>
						<a class="trigger"  data-ng-click="showDescription=!showDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
						<span class="item-value" data-ng-hide="showDescription">{{item.Product.Description}}</span>
					</div>
				</div>
			</div>
			<div class="item">

				<div class="row">
					<div class="prog col"
                         x-ng-class="{true: 'prog-order-state-bid', false: 'prog-order-state-disabled'}[current.StatusID>=1]"
                         x-ng-click="statusSlide($event,0)">
						<i class="icon"
                           x-ng-class="{'ion-ios7-clock': current.StatusID==1, 'ion-ios7-checkmark': current.StatusID>1}"></i>
						<div class="name">
							发布中
						</div>
                        <div class="name" x-ng-show="statusActiveSlide==0">
                            <i class="ion-arrow-up-b prog-arrow"></i>
                        </div>
					</div>

					<div class="prog col"
                         x-ng-class="{true: 'prog-order-state-purchase', false: 'prog-order-state-disabled'}[current.StatusID>=2]"
                         x-ng-click="statusSlide($event,1)">
						<i class="icon"
                           x-ng-class="{'ion-ios7-clock': current.StatusID==2, 'ion-ios7-checkmark': current.StatusID>2, 'ion-ios7-circle-filled': current.StatusID<2}"></i>
						<div class="name">
							代购中
						</div>
                        <div class="name" x-ng-show="statusActiveSlide==1">
                            <i class="ion-arrow-up-b prog-arrow"></i>
                        </div>
					</div>

					<div class="prog col"
                         x-ng-class="{true: 'prog-order-state-delivering', false: 'prog-order-state-disabled'}[current.StatusID>=3]"
                         x-ng-click="statusSlide($event,2)">
						<i class="icon"
                           x-ng-class="{'ion-ios7-clock': current.StatusID==3, 'ion-ios7-checkmark': current.StatusID>3, 'ion-ios7-circle-filled': current.StatusID<3}"></i>
						<div class="name">
							收货中
						</div>
                        <div class="name" x-ng-show="statusActiveSlide==2">
                            <i class="ion-arrow-up-b prog-arrow"></i>
                        </div>
					</div>

                    <!--#aaaaaa 66cc33-->
					<div class="prog col"
                         x-ng-class="{true: 'prog-order-state-completed', false: 'prog-order-state-disabled'}[current.StatusID>=4]"
                         x-ng-click="statusSlide($event,3)">
						<i class="icon"
                           x-ng-class="{'ion-ios7-checkmark': current.StatusID>=4, 'ion-ios7-circle-filled': current.StatusID<4}"></i>
						<div class="name">
                            已完结
						</div>
                        <div class="name" x-ng-show="statusActiveSlide==3">
                            <i class="ion-arrow-up-b prog-arrow"></i>
                        </div>
					</div>
				</div>
				<ion-slide-box delegate-handle="orderStatus" show-pager="false" active-slide="statusActiveSlide">
					<ion-slide>
						<ng-include src="'templates/order-bid-p-info.html'" ng-if="current.StatusID!=1"></ng-include>
					</ion-slide>
					<ion-slide>
						<ng-include src="'templates/order-purchase-p-edit.html'" ng-if="current.StatusID==2"></ng-include>
						<ng-include src="'templates/order-purchase-p-info.html'" ng-if="current.StatusID!=2"></ng-include>
					</ion-slide>
					<ion-slide>
						<ng-include src="'templates/order-delivering-p-edit.html'" ng-if="current.StatusID==3"></ng-include>
						<ng-include src="'templates/order-delivering-p-info.html'" ng-if="current.StatusID!=3"></ng-include>
					</ion-slide>
					<ion-slide>
						<ng-include src="'templates/order-completed-p-info.html'"></ng-include>
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>
	</ion-content>
</ion-modal-view>