<ion-modal-view ng-controller="BecomePurchaserCtrl"> 
<ion-header-bar class="bar-assertive">
<div class="buttons">
	<button class="button button-icon icon ion-ios7-arrow-back pull-right" x-ng-click="closeModal();"></button>
</div>
<h1 class="title">成为买手</h1>
</ion-header-bar>
<ion-content>
<form name="mainform">
	<form name="mainform" novalidate>
		<div class="list list-inset">
			<label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" x-ng-model="user.Name" required>
			</label>
			<div class="item">
			 成为买手
			<textarea placeholder="Comments">买手协议简易版？？？？</textarea>
				<div>
					<a class="link" x-ng-click="showPurchaserLagel()">请阅读买手协议</a>
				</div>
			</div>
		</div>
        <div class="padding">
            <button class="button button-block button-positive" x-ng-click="pay()">支付</button>
        </div>
	</form>
</ion-content>
</ion-modal-view>