<ion-modal-view ng-controller="SearchCtrl">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">筛选</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">名称</span>
				<input type="text" x-ng-model="req.Name">
			</label>
			<a class="item item-input item-icon-right" x-ng-click="popupCountries();"> <span class="input-label">代购国家</span> <span>{{req.CountryName}}</span> <i class="icon ion-ios7-arrow-forward item-note"></i> </a>
			<div class="item item-input item-range-input">
				<label>
					<span class="input-label">价格区间</span>
				</label>
				<input type="number"  x-ng-model="req.priceFrom">
				<span class="seperator text-center">~</span>
				<input type="number" x-ng-model="req.priceTo">
			</div>
		</div>
		<div class="button-bar">
			<button class="button button-light" x-ng-click="cancel();">取消</button>
			<button class="button button-positive" x-ng-click="ok();">确定</button>
		</div>
	</ion-content>
</ion-modal-view>