<ion-modal-view ng-controller="NewOrderCtrl">

	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">新建订单</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-close-empty pull-right"  x-ng-click="closeModal();"></button>
		</div>
	</ion-header-bar>

	<ion-content>
		<form name="mainform" novalidate>
			<div class="list">
				<div x-ng-repeat="item in order.Items"  class="item item-thumbnail-left item-info">
					<img x-ng-src="{{item.Product.Image | URI}}">
					<div class="list info">
						<span class="item"><h2>{{item.Product.Name}}</h2></span>
						<span class="item">价格 <span class="item-note">{{item.Product.ExpectedPrice}}/元</span></span>
						<span class="item">数量 <span class="item-note">{{item.Quantity}}</span></span>
						<span class="item">到货周期 <span class="item-note">{{item.lastMonth}}个月</span></span>
					</div>
				</div>
			</div>

			<div class="list" >
				<div class="item item-divider">
					收件地址
				</div>
				<a class="item item-input item-icon-right"  x-ng-click="popupProvinces();"><span class="input-label">地区</span> <span class="item-note">{{order.Address.Province}}-{{order.Address.City}}-{{order.Address.Area}}</span><i class="icon ion-ios7-arrow-forward"></i> </a>
				<label class="item item-input"> <span class="input-label">详细地址</span>
					<input type="text" x-ng-model="order.Address.Address">
				</label>
				<label class="item item-input"> <span class="input-label">邮编</span>
					<input type="text" x-ng-model="order.addres.Zip">
				</label>
				<label class="item item-input"> <span class="input-label">收件人</span>
					<input type="text" x-ng-model="order.Address.Contact">
				</label>
				<label class="item item-input"> <span class="input-label">联系电话</span>
					<input type="text" x-ng-model="order.Address.Phone">
				</label>
			</div>
			<div class="padding">
				<button class="button button-block  button-positive" x-ng-disabled="mainform.$invalid"  x-ng-click="submit()"> 确认</button>
			</div>
		</form>
	</ion-content>
