<ion-view ng-controller="OrderPurchaserDetailCtrl">

    <ion-header-bar class="bar-assertive">
        <div class="buttons">
            <button class="button button-icon icon ion-ios7-arrow-back pull-right" x-ng-click="closeModal();"></button>
        </div>
        <h1 class="title">支付</h1>
    </ion-header-bar>

    <ion-content class="has-header" has-header="true" padding="false">
        <div class="item item-product-info">
            <div class="message message-strong font-assertive">
                <i class="ion-card"></i>
                <span>定金：3244 元</span>
            </div>
        </div>

        <div class="list list-inset">
            <a class="item item-icon-right">
                <i class="ion-card" style="padding-right: 0.5em;"></i>银联支付
                <i class="icon ion-ios7-arrow-forward item-note"></i>
            </a>
        </div>
    </ion-content>

</ion-view>