<ion-modal-view ng-controller="AccountUserEditCtrl">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">设定</h1>
	</ion-header-bar>

	<ion-content class="has-header">
		<div class="list">
			<div class="item item-product-image" >
				<img  x-ng-src="{{user.Image | URI}}" class="img-product">
				<a x-ng-click="showCameraMenu()"> <i class="icon ion-ios7-camera"></i><h2>更新图片</h2> </a>
			</div>

			<div class="item item-divider">
				修改密码
			</div>
			<label class="item item-input">
				<span class="input-label">旧密码</span>
				<input type="text" x-ng-model="user.OldPassword">
			</label>
			<label class="item item-input">
				<span class="input-label">密码修改</span>
				<input type="password" x-ng-model="user.NewPwd">
			</label>
			<label class="item item-input">
				<span class="input-label">确认密码</span>
				<input type="password" x-ng-model="user.NewPwdConfirm">
			</label>
			<div class="item item-divider">
				基本信息
			</div>
			<label class="item item-input">
				<span class="input-label">昵称</span>
				<input type="text" x-ng-model="user.NickName">
			</label>
			<label class="item item-input">
				<span class="input-label">出生日期</span>
				<input type="date" x-ng-model="user.Birthday">
			</label>
			<div class="item item-divider">
				默认地址信息
			</div>
			<a class="item item-input item-icon-right" x-ng-click="popupProvinces();"> <span class="input-label">所在地区</span> <span class="item-note">{{user.Address.Province}}-{{user.Address.City}}-{{user.Address.Area}}</span> <i class="icon ion-ios7-arrow-forward item-note"></i> </a>
			<label class="item item-input">
				<span class="input-label">详细地址</span>
				<input type="text" x-ng-model="user.Address.Address">
			</label>
			<label class="item item-input">
				<span class="input-label">邮编</span>
				<input type="text" x-ng-model="user.Address.Zip">
			</label>
			<label class="item item-input">
				<span class="input-label">收件人</span>
				<input type="text" x-ng-model="user.Address.Contact">
			</label>
			<label class="item item-input">
				<span class="input-label">联系电话</span>
				<input type="text" x-ng-model="user.Address.Phone">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" x-ng-click="submit();">确认</button>
		</div>

	</ion-content>
</ion-modal-view>
