<ion-modal-view ng-controller="AccountUserInfoCtrl">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">登录用户</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-close-empty pull-right"    x-ng-click="modal.hide();"></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="item item-thumbnail-left" >
				<img  x-ng-src="{{user.Image | URI}}">
			<h2>{{user.Name}}</h2>
			<p>{{user.NickName}}</p>
		</div>

		<div class="list">
			<div class="item item-divider">
				基本信息
			</div>
			<label class="item"> 出生日期 <span class="item-note"> {{user.birthday}}</span> </label>
			<label class="item"> 地址 <span class="item-note">{{user.address}}</span> </label>
		</div>
		<div >
			<button class="button  button-full button-light" x-ng-click="logoff();"> 退出登录 </button>
		</div>

	</ion-content>
</ion-modal-view>
