<ion-modal-view ng-controller="FilterCtrl">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">筛选</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-close-empty pull-right"    x-ng-click="modal.hide();"></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header padding">
		<button class="button button-block button-energized" x-ng-controller="UnionpayCtrl" ng-click="pay()"> 付款 </button>
		<button class="button button-block button-energized" x-ng-controller="UnionpayCtrl" ng-click="toast()"> 提示 </button>
		<div class="list list-inset">
			<label class="item item-input"> <span class="input-label" style="width: 30%;"> 昵称 </span> <i style="color: #aaa" class="icon ion-android-more"> </i>
				<input type="text">
			</label>
			<label class="item item-input"> <span class="input-label" style="width: 30%;"> 住址住址 </span> <i style="color: #aaa" class="icon ion-android-more"> </i>
				<input type="text">
			</label>
			<label class="item item-input item-stacked-label"> <span class="input-label"> 说明 </span> 				<textarea placeholder="Last Name" rows="5">
				</textarea> </label>
		</div>
	</ion-content>
</ion-modal-view>
