<ion-modal-view ng-controller="OrderPurchaserDetailCtrl">

	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right" x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">产品详情</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-close-empty pull-right"
			ng-click="closeModal();"></button>
		</div>
	</ion-header-bar>

	<style>
		.row.pager {
			padding: 0px;
			padding-top: 10px;
			color: gray;
		}
		.row.pager .col {
			border-top: solid DarkGray 1px;
			text-align: left;
			padding: 0px;
		}

		.row.pager .col div.prog {
			background-color: white;
			position: relative;
			left: -.6em;
			top: -.8em;
			width: 1em;
			text-align: center;
			height: 10em;
		}

		.row.pager .col.done {
			border-top: solid #f58220 1px;
			color: black;
		}
		.row.pager .col.done .icon {
			color: #f58220;
		}

		.row.pager .col.doing {
			color: #f58220;
		}

		.row.pager  .col.first, .row.pager .col.last {
			border-top: solid white 1px;
		}

		.prog.active {
			font-weight: bold;
		}

		.prog .name {
			position: relative;
			width: 5em;
			padding-left: 2em;
			padding-right: 2em;
			left: -2em
		}

	</style>
	<ion-content has-header="true" padding="false" class="has-subheader">
		<div class="list">
			<div class="list">
				<div class="item item-divider">
					{{item.Product.CategoryDesc}}
				</div>
				<div class="item item-avatar item-product">
					<img x-ng-src="{{item.Product.Image | URI}}">
				</div>
				<div class="item">
					{{item.Product.Name}}
				</div>
			</div>
			<div class="list">
				<div class="item item-divider">
					代购信息
				</div>
				<label class="item">代购国家<span class="item-value">{{item.Product.CountryName}}</span></label>
				<label class="item">预想单价<span class="item-value">{{item.Product.ExpectedPrice}}元（人民币）</span></label>
				<label class="item">代购件数<span class="item-value">{{item.Quantity}}</span></label>

				<label class="item">品牌<span class="item-value">{{item.Product.Brand}}</span></label>
				<div class="item item-divider">
					商品参数
				</div>
				<label class="item">功效<span class="item-value">{{item.Product.Exts.Function}}</span></label>
				<label class="item">色泽<span class="item-value">{{item.Product.Exts.Color}}</span></label>
				<label class="item">说明<span class="item-value">{{item.Product.Description}}</span></label>
			</div>
			<div class="item item-graph">
				<div class="row pager">
					<div class="col first"></div>
					<div class="col" x-ng-class="{'done':current.StatusID&gt;1,'doing':current.StatusID==1}">
						<div class="prog" x-ng-click="statusSlide($event.target,0)">
							<i class="icon ion-ios7-checkmark-outline"></i>
							<div class="name">
								发布中
							</div>
						</div>
					</div>
					<div class="col" x-ng-class="{'done':current.StatusID&gt;1,'doing':current.StatusID==1}"></div>
					<div class="col" x-ng-class="{'done':current.StatusID&gt;2,'doing':current.StatusID==2}">
						<div class="prog" x-ng-click="statusSlide($event.target,1)">
							<i class="icon ion-ios7-checkmark-outline"></i>
							<div class="name">
								代购中
							</div>
						</div>
					</div>
					<div class="col" x-ng-class="{'done':current.StatusID&gt;2,'doing':current.StatusID==2}"></div>
					<div class="col" x-ng-class="{'done':current.StatusID&gt;3,'doing':current.StatusID==3}">
						<div class="prog" x-ng-click="statusSlide($event.target,2)">
							<i class="icon ion-ios7-circle-outline"></i>
							<div class="name">
								收货中
							</div>
						</div>
					</div>
					<div class="col" x-ng-class="{'done':current.StatusID&gt;3,'doing':current.StatusID==3}"></div>
					<div class="col last" x-ng-class="{'done':current.StatusID&gt;4,'doing':current.StatusID==4}">
						<div class="prog" x-ng-click="statusSlide($event.target,3)">
							<i class="icon ion-ios7-circle-outline"></i>
							<div class="name">
								完成
							</div>
						</div>
					</div>
				</div>
				<ion-slide-box delegate-handle="orderStatus" show-pager="false" active-slide="statusActiveSlide">
					<ion-slide>
						<ng-include src="'templates/order-bid-p-info.html'" ng-if="current.StatusID!=1"></ng-include>
					</ion-slide>
					<ion-slide>
						<ng-include src="'templates/order-purchase-p-edit.html'" ng-if="current.StatusID==2"></ng-include>
						<ng-include src="'templates/order-purchase-p-info.html'" ng-if="current.StatusID!=2"></ng-include>
					</ion-slide>
					<ion-slide>
						<ng-include src="'templates/order-delivering-p-edit.html'" ng-if="current.StatusID==3"></ng-include>
						<ng-include src="'templates/order-delivering-p-info.html'" ng-if="current.StatusID!=3"></ng-include>
					</ion-slide>
					<ion-slide>
						<ng-include src="'templates/order-completed-p-info.html'"></ng-include>
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>
	</ion-content>
</ion-modal-view>