 <ion-modal-view ng-controller="ProvincesCtrl">
	  <ion-header-bar class="bar-positive">
	      <h1 class="title">选择地区</h1>
	        <div class="buttons">
  		<button class="button button-icon icon ion-ios7-close-empty pull-right"    x-ng-click="closeModal();"></button>
  			</div>
	    </ion-header-bar>
    <ion-content>
    
 <div class="list" x-ng-show="step=='province'">
	  <a class="item item-icon-right" x-ng-repeat="c in provinces" x-ng-click="selectProvince(c)">
	   	{{c.Name}}
	   <i class="icon ion-ios7-arrow-forward"></i>
	  </a>
 </div>
 
  <div class="list" x-ng-show="step=='city'">
	  <a class="item item-icon-right" x-ng-repeat="c in province.City" x-ng-click="selectCity(c)">
	   	{{c.Name}}
	   <i class="icon ion-ios7-arrow-forward"></i>
	  </a>
 </div>
 
  <div class="list" x-ng-show="step=='area'">
	  <a class="item item-icon-right" x-ng-repeat="c in city.Area" x-ng-click="selectArea(c)">
	   	{{c.Name}}
	   <i class="icon ion-ios7-arrow-forward"></i>
	  </a>
 </div>
    </ion-content>
</ion-modal-view>