 <ion-modal-view ng-controller="NewProductCtrl">
 
 <ion-header-bar class="bar-positive">
  <div class="buttons">
 </div>
<h1 class="title">新建订单</h1>
  <div class="buttons">           	        
  		<button class="button button-icon icon ion-ios7-close-empty pull-right" 
          ng-click="closeModal();"></button>
  </div>
</ion-header-bar>

<ion-content>
 <form name="mainform" novalidate>
 <div class="list" x-ng-show="categoryInEdit">
	  <a class="item item-icon-right" x-ng-repeat="c in categories" x-ng-click="selectCat(c)">
	   	{{c.Name}}
	   <i class="icon ion-ios7-arrow-forward"></i>
	  </a>
 </div>
     
 <div class="list"  x-ng-show="!categoryInEdit">      
 
	  <div class="item item-divider">{{product.ProductDetailKind}}</div>
      <div class="item item-product-image item-options-right" >
	      	<img  x-ng-src="{{product.Image}}" class="img-product">
	      	<div class="options">
	      	 <button class="button button-clear" x-ng-click="getPhotoFromCamera()">
		      	<i class="icon ion-camera"></i>
		    </button>
	      	 <button class="button button-clear" x-ng-click="getPhotoFromLibrary()">
		      	<i class="icon ion-ios7-albums"></i>
		    </button>
		    </div>
	  </div>
      	
	  <div class="item item-divider">
	    基本信息
	  </div>
	  <label class="item item-input">
	    <span class="input-label">名称</span>
	    <input type="text" x-ng-model="product.Name" required>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">品牌</span>
	    <input type="text" x-ng-model="product.Brand" required>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">说明</span>
	    <input type="text" x-ng-model="product.Description">
	  </label>
	  <div class="item item-divider">
	   	商品参数
	  </div>
	  <label class="item item-input">
	    <span class="input-label">功效</span>
	    <input type="text" x-ng-model="product.Exts.Function">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">色泽</span>
	    <input type="text" x-ng-model="product.Exts.Color">
	  </label>
	  <div class="item item-divider">
	    代购信息
	  </div>
	   <a class="item item-input item-icon-right"  x-ng-click="popupCountries();"><span class="input-label">代购国家</span>
   <span class="item-note">{{product.CountryName}}</span><i class="icon ion-ios7-arrow-forward"></i></a>
   
	  <label class="item item-input">
	    <span class="input-label">预想总价</span>
	    <input type="number" x-ng-model="product.ExpectedPrice" required>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">代购件数</span>
	    <input type="number" x-ng-model="item.Amount" required>
	  </label>
 </div>
 
	<div class="buttons text-center" x-ng-show="!categoryInEdit">
		<button class="button button-positive"  x-ng-disabled="mainform.$invalid" x-ng-click="submit();">添加到购物车</button>
	</div>
	</form>
 </ion-content>
</ion-modal-view>