<ion-modal-view ng-controller="TextCtrl">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="cancel();"></button>
		</div>
		<h1 class="title">明细</h1>
	</ion-header-bar>
	<ion-content class="has-header has-footer" style="bottom: 77px;">
		<textarea class="padding" x-ng-model="data.bigText" placeholder="请输入" rows="50"></textarea>
	</ion-content>
	<div class="bar bar-footer" style="height: 77px;">
        <button class="button button-block button-positive padding" x-ng-click="done(data.bigText)">确认</button>
	</div>
</ion-modal-view>
