<ion-modal-view ng-controller="ProductDetailCtrl">

	<ion-header-bar class="bar-stable">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right" x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">产品详情</h1>
	</ion-header-bar>

	<ion-content has-header="true">
		<div class="list top">
			<div class="item">
				<div class="item-avatar item-product">
					<img align="center" x-ng-src="{{product.Image | URI:'product' }}" x-big-image>
				</div>
			</div>

			<div class="item">
				<div class="list data">
					<div class="item item-product-title">
						<h2>{{product.Name}}</h2>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="list data data-view">
					<div  class="item" x-ng-show="product.CountryName">
						<span class="label"> 代购国家 </span><span class="item-value">{{product.CountryName}}</span>
					</div>
					<div class="item" x-ng-show="product.ExpectedPrice">
						<span class="label"> 单价 </span><span class="item-value strength"><b>{{product.Price}}</b>&nbsp;元</span>
					</div>
					<div class="item" x-ng-show="product.Brand">
						<span class="label"> 品牌 </span><span class="item-value">{{product.Brand}}</span>
					</div>

					<ng-include src="'templates/extends/edit-'+product.CategoryID+'.html'"></ng-include>
				</div>
			</div>
			<div class="item" x-ng-show="product.Description">
				<div class="list data">
					<div class="item comment item-icon-right">
						<span class="label"> 说明 </span>
						<a class="trigger"  data-ng-click="showDescription=!showDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
						<span class="item-value" data-ng-hide="showDescription">{{product.Description}}</span>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="list data">
					<div class="item item-divider">
						代购信息
					</div>
					<div class="item">
						<span class="label">代购国家</span><span class="item-value">{{product.CountryName}}</span>
					</div>
				</div>

			</div>
		</div>
		<div class="padding">
			<button class="button button-block  button-positive" x-ng-click="selectThis();"> 我也想买</button>
		</div>

	</ion-content>
	</ion-view>
