<ion-modal-view ng-controller="FilterCtrl">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">筛选</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-close-empty pull-right"    x-ng-click="modal.hide();"></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header padding">
		账本
	</ion-content>
</ion-modal-view>
