<ion-modal-view ng-controller="LoginCtrl">
	<ion-header-bar class="bar-stable">
		<div class="buttons">
			<button class="button button-icon icon ion-ios7-arrow-back pull-right"    x-ng-click="closeModal();"></button>
		</div>
		<h1 class="title">登录</h1>
		<div class="buttons">
			<button class="button button-clear" x-ng-click="showSignup()">注册</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div id="modal_massage" x-ng-show="ErrorMessage">{{ErrorMessage}}</div>
		<form name="mainform" novalidate>
		<div class="list list-inset" style="margin: 10px;">
			<label class="item item-input">
				<span class="input-label">用户名</span>
				<select x-ng-model="user.Name" x-ng-options="u.Name as (u.NickName + ' - ' + u.Name ) for u in users">
					<option value="">-- 请选择 --</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">用户名</span>
				<input type="text" x-ng-model="user.Name" required>
			</label>
			<label class="item item-input">
				<span class="input-label">密码</span>
				<input type="password" x-ng-model="user.TextPassword" required>
			</label>
			<!-- for  test -->
			<label class="item item-input">
				<span class="input-label">Host</span>
				<input type="text"  x-ng-model="user.host" class="input">
			</label>
		</div>
		<div class="list" style="margin: 0px 10px;">
			<div class="item" style="border: none; padding: 0px">
				<label class="checkbox note">
					<input type="checkbox" class="samll-checkbox" x-ng-model="data.checkall"/>
					<span class="font-note" style="position: absolute; top: 0.6em; left: 2.5em;">记住密码</span>
				</label>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" x-ng-click="login();"  x-ng-disabled="mainform.$invalid">登录</button>
		</div>
		</form>
		<!--<div class="right"><a x-ng-click="showSignup()">免费注册</a></div>-->
	</ion-content>
</ion-modal-view>