<pane  x-ng-show="current.ActionID==Actions.purchased.ID">
	<div class="list"> 
			<div class="item">买手尚未发货，请等待！</div>
	</div>
</pane>

<pane  x-ng-show="current.ActionID==Actions.delivering.ID">
	<div class="list"> 
			<div class="item">买手已发货</div>
		  <label class="item item-input item-input-note"><span class="input-label">预计</span>{{current.Extends.EstimateArriveDatetime}}<span class="item-note">天后到达</span></label>
		  <label class="item item-input"><span class="input-label">快递单号</span>{{current.Extends.TrackingNO}}</label>
		</div>
    <button class="button button-positive button-block"  x-ng-click="confirmDelivering();">确认收货</button>
</pane>