<pane x-ng-hide="statuses[2].ActionID==Actions.cancelOrder.ID  || statuses[2].ActionID==Actions.cancelPurchasing.ID">
	<div class="list action data item-product-info">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>购买已经完成</span>
		</div>
		<div class="item">
			<span class="label"> 开始时间 </span><span class="item-value">{{current.Extends.PurchasingStartDatetime}}</span>
		</div>
		<div class="item">
			<span class="label"> 开始地点 </span><span class="item-value">{{current.Extends.PurchasingStartLocation}}</span>
		</div>
		<div class="item">
			<span class="label"> 实际价格 </span><span class="item-value">{{current.Extends.ActualPrice}}元</span>
		</div>
		<div class="item">
			<span class="label"> 结束时间 </span><span class="item-value">{{current.Extends.PurchasingEndDatetime}}</span>
		</div>
		<div class="item">
			<span class="label"> 结束地点 </span><span class="item-value">{{current.Extends.PurchasingEndLocation}}</span>
		</div>
		<div class="message font-note">
			<i class="ion-ios7-timer-outline"></i><span>购买时长：{{current.Extends.PurchasingDuration | hours}}</span>
		</div>
	</div>
	<div class="item message" style="font-weight: bold;">
		<i class="ion-ios7-paper-outline"></i><span>购物小票</span>
	</div>
	<div class="item row">
		<div class="item item-avatar item-product col" style="border: 0;" x-ng-repeat="im in  current.Extends.InvoiceImage">
			<img align="center" x-ng-src="{{im | URI}}">
		</div>
	</div>
	<div class="item item-product-info">
		<div class="message" style="font-weight: bold;">
			<i class="ion-image"></i><span>商品照片</span>
		</div>
	</div>
	<div class="item row">
		<div class="item item-avatar item-product col" style="border: 0;" x-ng-repeat="im in  current.Extends.ProductActualImage">
			<img align="center" x-ng-src="{{im | URI}}">
		</div>
	</div>
</pane>
