<ion-view title="我的代购订单">
	<ion-content class="has-subheader">
		<div class="list padding-top">
			<div class="item item-divider" x-ng-show="itemsBiding.length>0">
				竞购中
			</div>
			<a x-ng-repeat="bid in itemsBiding"  class="item item-thumbnail-left item-info"  x-ng-click="showDetail(bid.OrderItem);"> <img x-ng-src="{{bid.OrderItem.Product.Image}}">
			<div class="list info">
				<span class="item"><h3>{{bid.OrderItem.Product.Name}}</h3></span>
				<span class="item">价格 <span class="item-note"> {{bid.OrderItem.Product.ExpectedPrice}}/元</span> </span>
				<span class="item">到货周期 <span class="item-note">{{bid.OrderItem.lastMonth}}个月</span> </span>
			</div> </a>
			<div class="item item-divider" x-ng-show="itemsSucceed.length>0">
				已被选定
			</div>
			<a x-ng-repeat="bid in itemsSucceed"  class="item item-thumbnail-left item-info"  x-ng-click="showDetail(bid.OrderItem);"> <img x-ng-src="{{bid.OrderItem.Product.Image | URI}}">
			<div class="list info">
				<span class="item"><h3>{{bid.OrderItem.Product.Name}}</h3></span>
				<span class="item">价格 <span class="item-note"> {{bid.OrderItem.Product.ExpectedPrice}}/元</span> </span>
				<span class="item">到货周期 <span class="item-note">{{bid.OrderItem.lastMonth}}个月</span> </span>
			</div> </a>
			<div class="item item-divider" x-ng-show="itemsFail.length>0">
				已落选
			</div>
			<a x-ng-repeat="bid in itemsFail"  class="item item-thumbnail-left item-info"  x-ng-click="showDetail(bid.OrderItem);"> <img x-ng-src="{{bid.OrderItem.Product.Image  | URI}}">
			<div class="list info">
				<span class="item"><h3>{{bid.OrderItem.Product.Name}}</h3></span>
				<span class="item">价格 <span class="item-note"> {{bid.OrderItem.Product.ExpectedPrice}}/元</span> </span>
				<span class="item">到货周期 <span class="item-note">{{bid.OrderItem.lastMonth}}个月</span> </span>
			</div> </a>
		</div>
		<ion-infinite-scroll on-infinite="loadMoreItems()" icon="ion-loading-c"></ion-infinite-scroll>
	</ion-content>
</ion-view>
