<div class="list">
	<div class="item view-button">
		<div class="item-avatar">
		<img x-ng-src="img/mcfly.jpg">
		{{current.Extends.PurchaserName}}
	    </div>
		<div class="list view">  	      
			<label class="item item-input item-input-note"><span class="input-label">代购佣金</span><span class="item-note">{{current.Extends.Commission}}元（人民币）</span></label>
			  <label class="item item-input item-input-note"><span class="input-label">邮寄方式</span><span class="item-note">{{current.Extends.DeliveryMethod}}</span></label>
			  <label class="item item-input item-input-note"><span class="input-label">代购期限</span><span class="item-note">{{current.Extends.Deadline}}</span></label>
			  <label class="item item-input item-input-note"><span class="input-label">建议价格</span><span class="item-note">{{current.Extends.SuggestedPrice}}元（人民币）</span></label>
			  <label class="item item-input item-input-note"><span class="input-label">运费</span><span class="item-note">{{current.Extends.DeliveryCost}}元（人民币）</span></label>
		</div>
  </div>
</div>