<pane x-ng-hide="current.ActionID==Actions.cancelPurchasing.ID || current.ActionID==Actions.cancelOrder.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>购买已经完成</span>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{current.Bid.Purchaser.Image | URI}}">
			<span>{{current.Bid.PurchaserNickName}}</span>
			<a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item">
			<span class="label"> 开始时间 </span><span class="item-value">{{current.Extends.PurchasingStartDatetime}}</span>
		</div>
		<div class="item">
			<span class="label"> 开始地点 </span><span class="item-value">中国 上海</span>
		</div>
		<div class="item">
			<span class="label"> 实际价格 </span><span class="item-value">{{current.Extends.ActualPrice}}元</span>
		</div>
		<div class="item">
			<span class="label"> 结束时间 </span><span class="item-value">{{current.Extends.PurchasingEndDatetime}}</span>
		</div>
		<div class="item">
			<span class="label"> 结束地点 </span><span class="item-value">美国 纽约</span>
		</div>
		<div class="item message font-note">
			<i class="ion-ios7-timer-outline"></i><span>购买时长：20天15小时</span>
		</div>
	</div>
	<div class="item message" style="font-weight: bold;">
		<i class="ion-ios7-paper-outline"></i><span>购物小票</span>
	</div>
	<div class="item row">
		<div class="item item-avatar item-product col" style="border: 0;" x-ng-repeat="im in  current.Extends.InvoiceImage">
			<img align="center" x-ng-src="{{im | URI}}">
		</div>
	</div>
	<div class="item item-product-info">
		<div class="message" style="font-weight: bold;">
			<i class="ion-image"></i><span>商品照片</span>
		</div>
	</div>
	<div class="item row">
		<div class="item item-avatar item-product col" style="border: 0;" x-ng-repeat="im in  current.Extends.ProductActualImage">
			<img align="center" x-ng-src="{{im | URI}}">
		</div>
	</div>
</pane>

<div x-ng-show="statuses[2].ActionID==Actions.cancelPurchasing.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已被买手放弃购买</span>
		</div>
		<div class="item item-input">
			<span class="label">放弃时间</span><span class="item-value">{{current.Extends.CancelPurchasingDatetime}}</span>
		</div>
		<div class="item comment item-icon-right">
			<span class="label">放弃原因</span>
			<a class="trigger" data-ng-click="showDescription=!showDescription"><i
			class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i
			class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{current.Extends.CancelPurchasingComment}}</span>
		</div>
	</div>
</div>
<pane x-ng-show="statuses[2].ActionID==Actions.cancelOrder.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已被买家放弃！</span>
		</div>
		<div class="item item-input">
			<span class="label">放弃时间</span><span class="item-value">{{current.Extends.CancelOrderDatetime}}</span>
		</div>
		<div class="item comment item-icon-right">
			<span class="label">放弃原因</span>
			<a class="trigger" data-ng-click="showDescription=!showDescription"><i
			class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i
			class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{current.Extends.CancelOrderComment}}</span>
		</div>
	</div>
</pane>