<pane x-ng-show="current.ActionID==Actions.delivered.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已完结</span>
		</div>
		<div class="item item-input">
			<span class="label">完结时间</span><span class="item-value">{{current.Extends.DeliveryArriveDatetime}}</span>
		</div>
	</div>
</pane>
<pane x-ng-show="current.ActionID==Actions.cancelPurchasing.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已被买手放弃购买！</span>
		</div>
        <div class="item item-avatar item-product-user">
            <img src="{{suitor.Purchaser.Image | URI}}">
            <span >{{suitor.PurchaserNickName}}</span>
            <a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
        </div>
		<div class="item item-input">
			<span class="label">放弃时间</span><span class="item-value">{{current.Extends.CancelPurchasingDatetime}}</span>
		</div>
        <div class="item comment item-icon-right">
            <span class="label">放弃原因</span>
            <a class="trigger" data-ng-click="showDescription=!showDescription"><i
                    class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i
                    class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
            <span class="item-value" data-ng-hide="showDescription">该商品以售罄！</span>
        </div>
	</div>
</pane>
<pane x-ng-show="current.ActionID==Actions.cancelOrder.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已被买家放弃！</span>
		</div>
        <div class="item item-avatar item-product-user">
            <img src="{{suitor.Purchaser.Image | URI}}">
            <span >{{suitor.PurchaserNickName}}</span>
            <a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
        </div>
		<div class="item">
			<span class="label">放弃时间</span><span class="item-value">{{current.Extends.CancelOrderDatetime}}</span>
		</div>
        <div class="item comment item-icon-right">
            <span class="label">放弃原因</span>
            <a class="trigger" data-ng-click="showDescription=!showDescription"><i
                    class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i
                    class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
            <span class="item-value" data-ng-hide="showDescription">突然不想买了！</span>
        </div>
	</div>
</pane>