<style>
	div.image div {
		overflow: hidden;
		vertical-align: middle;
		width: 100px;
		height: 100px;
		display: inline-block;
	}

	div.image img {
		border: 0;
		margin-top: -50%;
		margin-left: -50%;
		height: 200px;
	}

	div.image a {
		padding: 0 15px;
		background: #54BCDE none;
		text-align: center;
		vertical-align: middle;
		width: 100px;
		height: 100px;
		position: relative;
		z-index: 2;
		display: inline-block;
		margin: 0 10px;
	}

	div.image a i {
		border: 0;
		font-size: 70px;
		color: #FFF;
	}

	div.image a h2 {
		color: #FFF;
		margin: 0 0 0px 0;
		font-size: 16px;
	}
	label.bigger-price{
		background: yellow;
	}
</style>
<div x-ng-show="current.ActionID==Actions.payConfirmed.ID">
	<form name="mainform" novalidate>
	<div class="list action data">
		<div class="item item-product-info">
			<div class="message message-strong energized">
				<i class="ion-ios7-information-outline"></i><span>请开始购买</span>
			</div>
			<div class="item">
				<span class="label">开始地点</span><span class="item-value">{{currentRegion.Location}}</span></span>
			</div>
		</div>
		<div class="item">
			<button class="button button-positive button-block" x-ng-click="beginPurchasing()">开始购买</button>
			<button class="button button-assertive button-block" x-ng-click="cancelPurchasing()">取消购买</button>
		</div>
	</div>
	</form>
</div>
<div x-ng-show="current.ActionID==Actions.purchasing.ID">
	<form name="mainform" novalidate>
		<div class="list action data">
			<div class="item message message-strong energized">
				<i class="ion-ios7-information-outline"></i><span>您已经开始购买</span>
			</div>
			<div class="item">
				<span class="label"> 开始时间 </span><span class="item-value">{{current.Extends.PurchasingStartDatetime}}</span>
			</div>
			<div class="item">
				<span class="label"> 开始地点 </span><span class="item-value">{{current.Extends.PurchasingStartLocation}}</span>
			</div>
			<div class="item">
				<span class="label">结束地点</span><span class="item-value">{{currentRegion.Location}}</span></span>
			</div>
			<label class="item item-input item-icon-right"><span class="input-label">实际单价</span>
				<input type="number" x-ng-model="current.Extends.ActualPrice" required>
				<span class="item-note"> 元</span>
			</label>
			<div class="item message assertive" x-ng-show="current.Extends.ActualPrice>item.Bid.SuggestedPrice">
				<i class="ion-ios7-information-outline"></i><span>您填写的“实际单价”高于“建议单价”</span>
			</div>
		</div>
		<div class="item item-product-info">
			<div class="message" style="font-weight: bold;">
				<i class="ion-image"></i><span>商品照片</span>
			</div>
			<div class="item item-avatar item-product" style="border: 0;" x-ng-repeat="im in  current.Extends.ProductActualImageList">
				<img align="center" x-ng-src="{{im.uri | URI}}">
				<a class="button icon button-icon ion-ios7-close-empty" x-ng-click="current.Extends.ProductActualImageList.splice($index,1);" style="position: relative;top: 0;right: 0;"></a>
			</div>
			<div class="item item-avatar item-product" style="border: 0;">
				<a x-ng-click="showProductCameraMenu();"> <i class="icon ion-ios7-camera"></i> <h2>更新图片</h2> </a>
			</div>
		</div>
		<div class="item item-product-info">
			<div class="message" style="font-weight: bold;">
				<i class="ion-ios7-paper-outline"></i><span>购物小票</span>
			</div>
			<div class="item item-avatar item-product" style="border: 0;" x-ng-repeat="img in  current.Extends.InvoiceImageList">
				<img align="center" x-ng-src="{{img.uri | URI}}">
				<a class="button icon button-icon ion-ios7-close-empty" x-ng-click="current.Extends.InvoiceImageList.splice($index,1);" style="position: relative;top: 0;right: 0;"></a>
			</div>
			<div class="item item-avatar item-product col" style="border: 0;">
				<a x-ng-click="showInvoiceCameraMenu();"> <i class="icon ion-ios7-camera"></i> <h2>更新图片</h2> </a>
			</div>
		</div>
		<div class="item">
			<button class="button button-positive button-block"  x-ng-disabled="mainform.$invalid" x-ng-click="finishPurchasing()">完成购买</button>
			<button class="button button-assertive button-block" x-ng-click="cancelPurchasing()">取消购买</button>
		</div>
	</form>
</div>