<pane  x-ng-show="current.ActionID==Actions.bitSucceed.ID">
	<div class="list">
		<label class="item">
			买家已经选择您为他代购</label>
	</div>
	<button class="button button-positive button-block" x-ng-click="beginPurchasing()">开始购买</button>
	<button class="button button-assertive button-block" x-ng-click="cancelPurchasing()">取消购买</button>
</pane>

<pane  x-ng-show="current.ActionID==Actions.cancelPurchasing.ID">
	<div class="list">
		<label class="item">
			你已经取消本次代购</label>
	</div>
</pane>

<pane  x-ng-show="current.ActionID==Actions.purchasing.ID">
	<div class="list">
		<div class="item">
			你已经开始购买
		</div>
		<label class="item">
			开始时间<span class="item-value">{{current.Extends.PurchasingStartDatetime}}</span></label>
	</div>

	<div class="list ">
		<div class="item item-button-right">
			商品实物<button class="button icon ion-camera button-clear"></button>
		</div>
		<div class="item image"><img  x-ng-src="{{current.Extends.ProductActualImage | URI}}">
		</div>
		<div class="item item-button-right">
			购物小票<button class="button icon ion-camera button-clear"></button>
		</div>
		<div class="item"><img  x-ng-src="{{current.Extends.InvoiceImage | URI}}">
		</div>
	</div>
	<button class="button button-positive button-block"  x-ng-click="finishPurchasing()">完成购买</button>
</pane>
