
    <div class="list">
        <div class="item item-product-info">
            <div class="item-avatar">
                    <img src="{{current.Bid.Purchaser.Image | URI}}">
                    <span >{{current.Bid.PurchaserNickName}}</span>
                <a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
            </div>
            <div>
                <label>代购佣金</label><span class="item-value">{{current.Bid.Commission | percent}}</span>
            </div>
            <div>
                <label>邮寄方式</label><span class="item-value">{{current.Bid.DeliveryMethodName}}</span>
            </div>
            <div>
                <label>代购期限</label><span class="item-value">{{current.Bid.Deadline}}</span>
            </div>
                <div>
                    <label>建议价格</label><span class="item-value strength"><b>{{current.Bid.SuggestedPrice}}</b> 元</span>
                    <span class="comment" x-bg-price-hint="current.Bid.SuggestedPrice" x-price-from="item.Product.ExpectedPrice"></span>
                </div>
            <div>
                <label>运费</label><span class="item-value">{{current.Bid.DeliveryCost}} 元</span>
            </div>
        </div>
    </div>

<div class="list" x-ng-show="item.suitor">
	<div class="item item-button-right">
		正在等待买家选择买手 <button class="button button-positive"> 取消代购 </button>
	</div>
</div>

<div class="list">
	<div class="item">
		竞标失败
	</div>
</div>