<div class="flow-block" x-ng-show="current.ActionID==Actions.sendout.ID">
	<div class="list action data data" x-ng-show="bids.length<1">
		<div class="item item-text-wrap text-center">
			<p>
				<i class="icon ion-sad" style="font-size: 600%; color: #aaa;"></i>
			</p>

			<h2 style="color: #aaa;">还没有买手竞标</h2>
		</div>
	</div>

	<div class="list action data suitor data" x-ng-repeat="suitor in bids">
		<div class="item item-avatar item-product-user">
			<img src="{{suitor.Purchaser.Image | URI}}">
			<span >{{suitor.PurchaserNickName}}</span>
			<a class="item-note" x-ng-click="showChat(item,item.Customer,suitor.Purchaser,false);"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item message assertive message-strong">
			<i class="ion-card"></i>
			<span>定金：{{suitor.Amount}} 元</span>
		</div>

		<div class="item">
			<span class="label"> 代购佣金 </span><span class="item-value">{{suitor.Commission | percent}}</span>
		</div>
		<div class="item">
			<span class="label"> 邮寄方式 </span><span class="item-value">{{suitor.DeliveryMethodName}}</span>
		</div>
		<div class="item">
			<span class="label"> 代购期限 </span><span class="item-value">{{suitor.Deadline}}</span>
		</div>
		<div class="item">
			<span class="label"> 建议价格 </span>
			<span class="item-value strength"><b>{{suitor.SuggestedPrice}}</b> 元</span><span class="comment" x-bg-price-hint="suitor.SuggestedPrice" x-price-from="item.Product.ExpectedPrice"></span>
		</div>
		<div class="item">
			<span class="label"> 运费 </span><span class="item-value">{{suitor.DeliveryCost}} 元</span>
		</div>
		<div class="item comment item-icon-right" x-ng-show="suitor.Description">
			<span class="label"> 备注 </span>
			<a class="trigger"  data-ng-click="showDescription=!showDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{suitor.Comment}}</span>
		</div>
		<div class="item">
			<button class="button button-block button-balanced" x-ng-click="bitSucceed(suitor);"> 就是你 </button>
		</div>
	</div>
</div>

<div class="flow-block" x-ng-show="current.ActionID==Actions.bitSucceed.ID">
	<div class="list action data">
		<div class="item item-avatar item-product-user">
			<img src="{{item.Bid.Purchaser.Image | URI}}">
			<span>{{item.Bid.PurchaserNickName}}</span>
			<a class="item-note" x-ng-click="showChat(item,item.Customer,item.Bid.Purchaser,false);"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item message assertive message-strong">
			<i class="ion-card"></i>
			<span>定金：{{item.Bid.Amount}} 元</span>
		</div>
		<div class="item">
			<span class="label"> 代购佣金 </span><span class="item-value">{{item.Bid.Commission | percent}}</span>
		</div>
		<div class="item">
			<span class="label"> 邮寄方式 </span><span class="item-value">{{item.Bid.DeliveryMethodName}}</span>
		</div>
		<div class="item">
			<span class="label"> 代购期限 </span><span class="item-value">{{item.Bid.Deadline}}</span>
		</div>
		<div class="item">
			<span class="label"> 建议价格 </span>
			<span class="item-value strength"><b>{{item.Bid.SuggestedPrice}}</b> 元</span><span class="comment" x-bg-price-hint="item.BidSuggestedPrice" x-price-from="item.Product.ExpectedPrice"></span>
		</div>
		<div class="item">
			<span class="label"> 运费 </span><span class="item-value">{{item.Bid.DeliveryCost}} 元</span>
		</div>
		<div class="item comment item-icon-right" x-ng-show="item.BidDescription">
			<span class="label"> 备注 </span>
			<a class="trigger"  data-ng-click="showDescription=!showDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{item.BidComment}}</span>
		</div>
		<!--【{{current.TradeNo}}】-->
		<div class="item message energized">
			<i class="ion-ios7-information-outline"></i>
			<span>您已选定买手，请点击按钮支付定金</span>
		</div>
		<div class="item">
			<button class="button button-energized button-block" x-ng-click="gotoPay();">去付款</button>
		</div>
	</div>
</div>

<div  x-ng-show="current.ActionID==Actions.payFinished.ID">
	<div class="list action data">
		<div class="item item-avatar item-product-user">
			<img src="{{item.BidPurchaser.Image | URI}}">
			<span >{{item.Bid.PurchaserNickName}}</span>
			<a class="item-note" x-ng-click="showChat(item,item.Customer,item.Bid.Purchaser,false);"><i class="chatbox ion-chatbox-working"></i></a>
		</div>

		<div class="item message assertive message-strong">
			<i class="ion-card"></i><span>定金：{{item.Bid.Amount}} 元</span>
		</div>
		<div class="item">
			<span class="label"> 代购佣金 </span><span class="item-value">{{item.Bid.Commission | percent}}</span>
		</div>
		<div class="item">
			<span class="label"> 邮寄方式 </span><span class="item-value">{{item.Bid.DeliveryMethodName}}</span>
		</div>
		<div class="item">
			<span class="label"> 代购期限 </span><span class="item-value">{{item.Bid.Deadline}}</span>
		</div>
		<div class="item">
			<span class="label"> 建议价格 </span>
			<span class="item-value strength"><b>{{item.Bid.SuggestedPrice}}</b> 元</span><span class="comment" x-bg-price-hint="item.Bid.SuggestedPrice" x-price-from="item.Product.ExpectedPrice"></span>
		</div>
		<div class="item">
			<span class="label"> 运费 </span><span class="item-value">{{item.Bid.DeliveryCost}} 元</span>
		</div>
		<div class="item comment item-icon-right" x-ng-show="item.Bid.Description">
			<span class="label"> 备注 </span>
			<a class="trigger"  data-ng-click="showDescription=!showDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{item.Bid.Comment}}</span>
		</div>
		<div class="message energized" style="padding-top: 6px;">
			<i class="ion-ios7-information-outline"></i>
			<span>支付结果确认中，请点击按钮刷新</span>
		</div>
		<div class="item">
			<button class="button button-energized button-block" x-ng-click="confirmPay();">刷新</button>
		</div>
	</div>
</div>

