<div class="list">
	<div class="item view-button">
		<div class="list view">  	      
			<label class="item item-input item-input-note"><span class="input-label">代购佣金</span><span class="item-note">{{mysuitor.commission}}元（人民币）</span></label>
			  <a class="item item-input item-input-note"><span class="input-label">邮寄方式</span><span class="item-note">{{mysuitor.deliveryMethod}}</span></a>
			  <label class="item item-input item-input-note"><span class="input-label">代购期限</span><span class="item-note">{{mysuitor.deadline}}</span></label>
			  <label class="item item-input item-input-note"><span class="input-label">建议价格</span><span class="item-note">{{mysuitor.suggestedPrice}}元（人民币）</span></label>
			  <label class="item item-input item-input-note"><span class="input-label">运费</span><span class="item-note">{{mysuitor.deliveryCost}}元（人民币）</span></label>
		</div>
  </div>
</div>


<div class="list" x-ng-show="item.suitor">
	  <div class="item item-button-right">正在等待买家选择买手
	    <button class="button button-positive"> 取消代购
	    </button>
    </div>
</div>

<div class="list">
	  <div class="item">竞标失败
	  </div>
</div>