<div class="list view">
	  <label class="item">代购国家<span class="item-value">{{item.country}}</span></label>
	  <label class="item">预想总价<span class="item-value">{{item.expectedPrice}}元（人民币）</span></label>
	  <label class="item">代购件数<span class="item-value">{{item.amount}}</span></label>
	  <label class="item">邮寄方式<span class="item-value">{{item.deliveryMethod}}</span></label>
	  <label class="item">发布者<span class="item-value">{{item.buyer}}</span></label>
	  <label class="item">截止日期<span class="item-value">{{item.deadline}}</span></label>
	  <label class="item">收件地址<span class="item-value item-lang-value">{{item.address}}				
</span></label>
</div>