<div class="list">
	<div class="item divide">
		成功竞标
	</div>
	<div class="item view-button">
		<div class="list view">
			<label class="item item-input item-input-note"><span class="input-label">代购佣金</span><span class="item-note">{{current.Bid.Commission}}元（人民币）</span></label>
			<label class="item item-input item-input-note"><span class="input-label">邮寄方式</span><span class="item-note">{{current.Bid.DeliveryMethodName}}</span></label>
			<label class="item item-input item-input-note"><span class="input-label">代购期限</span><span class="item-note">{{current.Bid.Deadline}}</span></label>
			<label class="item item-input item-input-note"><span class="input-label">建议价格</span><span class="item-note">{{current.Bid.SuggestedPrice}}元（人民币）</span></label>
			<label class="item item-input item-input-note"><span class="input-label">运费</span><span class="item-note">{{current.Bid.DeliveryCost}}元（人民币）</span></label>
		</div>
	</div>
</div>