<div class="list">

    <div class="item item-product-info">
        <div class="item-avatar">
            <img src="{{current.Bid.Purchaser.Image | URI}}">
            <span>{{current.Bid.PurchaserNickName}}</span>
            <a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
        </div>
        <div class="message font-energized">
            <i class="ion-card"></i>
            <span>定金：3244 元</span>
        </div>
        <div>
            <label>代购佣金</label><span class="item-value">{{current.Bid.Commission | percent}}</span>
        </div>
        <div>
            <label>邮寄方式</label><span class="item-value">{{current.Bid.DeliveryMethodName}}</span>
        </div>
        <div>
            <label>代购期限</label><span class="item-value">{{current.Bid.Deadline}}</span>
        </div>
        <div>
            <label>建议价格</label><span class="item-value strength"><b>{{current.Bid.SuggestedPrice}}</b> 元</span>
            <span class="comment" x-bg-price-hint="current.Bid.SuggestedPrice" x-price-from="item.Product.ExpectedPrice"></span>
        </div>
        <div>
            <label>运费</label><span class="item-value">{{current.Bid.DeliveryCost}} 元</span>
        </div>
        <!--x-ng-show="item.Product.Description"-->
        <div class="item item-product-desc no-border">
            <label>备注</label>
            <a class="item-icon-right" onclick="alert('click')"><i class="icon ion-ios7-arrow-up item-note"></i></a>
        </div>
        <div class="item-product-desc">
            <span class="item-value">{{current.Bid.Comment}}这是注释测试用请删除这是注释测试用请删除这是注释测试用请删除这是注释测试用请删除这是注释测试用请删除这是注释测试用请删除这是注释测试用请删除</span>
        </div>
    </div>
</div>