<ion-view title="已发布订单">
	<ion-content class="has-subheader">
		<ion-refresher on-refresh="doRefresh()"		pulling-text="下拉刷新..."		refreshing-text="更新中"		refreshing-icon="ion-loading-c"></ion-refresher>
		<div class="padding-top" x-ng-show="orders.length==0">
			<p>
				暂时还没有订单哦！
			</p>
		</div>
		<div class="list" style="margin-bottom: 0px;" x-ng-repeat="order in data.orders">
			<div class="item item-divider item-product-title" style="background-color: #ffffff; padding-bottom: 4px;">
				<h2 style="padding-bottom: 0px; margin-bottom: 0; vertical-align: middle;">{{order.CountryName}}</h2>
				<div>
					<i class="ion-ios7-clock-outline"></i>发布时间：{{order.Datetime}}
				</div>
				<a class="trigger"  data-ng-click="hiddenDescription=!hiddenDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="hiddenDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="hiddenDescription"></i></a>
			</div>
			<a x-ng-repeat="item in order.Items" class="item item-thumbnail-left item-info item-outline" x-ng-click="showDetail(item);" x-ng-hide="hiddenDescription"> <img x-ng-src="{{item.Product.Image | URI }}"> <h2>{{item.Product.Name}}</h2>
			<div class="list data">
				<div class="item">
					<span class="label">单价</span><span class="item-value strength"><b>{{item.Product.ExpectedPrice}}</b>&nbsp;元</span>
				</div>
				<div class="item">
					<span class="label">件数</span><span class="item-value">{{item.Quantity}}</span>
				</div>
				<div class="item">
					<span class="label">状态</span><span class="order-state"
					x-ng-class="{'1': 'order-state-bid-bg', 2: 'order-state-purchase-bg', 3: 'order-state-delivering-bg', 4: 'order-state-completed-bg'}[item.StatusID]">{{item.StatusName}}</span>
				</div>
			</div> <i class="ion-record assertive notify"></i> </a>
		</div>
		<ion-infinite-scroll on-infinite="loadMoreItems()" distance="1%" ng-if="moreDataCanBeLoaded()" icon="ion-loading-c"></ion-infinite-scroll>
	</ion-content>
</ion-view>