<pane x-ng-show="current.ActionID==Actions.purchased.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>您已完成购买，请发货</span>
		</div>
		<div class="list list-inset">
			<label class="item item-input item-input-note">
				<span class="input-label">预计</span>
				<input type="date" x-ng-model="current.Extends.EstimateArriveDatetime">
				<span class="item-note">到达</span>
			</label>
			<div class="item item-input">	<span class="input-label">邮寄方式</span>
				<span class="item-value">{{item.Bid.DeliveryMethodName}}</span>
			</div>
			<label class="item item-input" x-ng-show="item.Bid.DeliveryMethodID==1"><span class="input-label">快递公司</span>
				<input type="text" x-ng-model="current.Extends.CourierFirm">
			</label>
			<label class="item item-input" x-ng-show="item.Bid.DeliveryMethodID==1"><span class="input-label">快递单号</span>
				<input type="text" x-ng-model="current.Extends.TrackingNo">
			</label>
		</div>
		<div class="item">
			<button class="button button-positive button-block" x-ng-click="startDelivering()">确认发货</button>
		</div>
	</div>
</pane>
<pane x-ng-show="current.ActionID==Actions.delivering.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>请等待买家确认收货</span>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{suitor.Purchaser.Image | URI}}">
			<span >{{suitor.PurchaserNickName}}</span>
			<a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item">
			<span class="label">预计</span><span class="item-value">{{current.Extends.EstimateArriveDatetime}}到达</span>
		</div>
		<div class="item item-input">
			<span class="label">邮寄方式</span><span class="item-value">{{item.Bid.DeliveryMethodName}}</span>
		</div>
		<div class="item" x-ng-show="item.Bid.DeliveryMethodID==1">
			<span	class="label">快递公司</span><span class="item-value">{{current.Extends.CourierFirm}}</span>
		</div>
		<div class="item" x-ng-show="item.Bid.DeliveryMethodID==1">
			<span	class="label">快递单号</span><span class="item-value">{{current.Extends.TrackingNo}}</span>
		</div>
	</div>
</pane>