<pane>
	<div class="list action">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>买家已确认收货！</span>
		</div>
		<div class="item item-input item-input-note">
			<span class="label">预计</span>{{current.Extends.EstimateArriveDatetime}}<span class="item-note">天后到达</span></span>
		</div>
		<div class="item item-input">
			<span class="label">快递单号</span><span class="item-value">{{current.Extends.TrackingNo}}</span>
		</div>
		<div class="item item-input">
			<span	class="label">确认时间</span><span class="item-value">{{current.Extends.DeliveryArriveDatetime}}</span>
		</div>
	</div>
	</div>
</pane>