<pane x-ng-hide="current.ActionID==Actions.cancelPurchasing.ID || current.ActionID==Actions.cancelOrder.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>买家已确认收货</span>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{item.Bid.Purchaser.Image | URI}}">
			<span >{{item.Bid.PurchaserNickName}}</span>
		</div>
		<div class="item item-input item-input-note">
			<span class="label">预计</span>{{current.Extends.EstimateArriveDatetime}}<span class="item-note">天后到达</span>
		</div>
		<div class="item item-input">
			<span class="label">邮寄方式</span><span class="item-value">{{item.DeliveryMethodName}}</span>
		</div>
		<div class="item item-input" x-ng-show="item.Bid.DeliveryMethodID==1">
			<span class="label">快递公司</span><span class="item-value">{{current.Extends.CourierFirm}}</span>
		</div>
		<div class="item item-input" x-ng-show="item.Bid.DeliveryMethodID==1">
			<span class="label">快递单号</span><span class="item-value">{{current.Extends.TrackingNo}}</span>
		</div>
		<div class="item item-input">
			<span	class="label">确认时间</span><span class="item-value">{{current.Extends.DeliveryArriveDatetime}}</span>
		</div>
	</div>
</pane>

<div x-ng-show="statuses[3].ActionID==Actions.cancelPurchasing.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已被买手放弃购买</span>
		</div>
		<div class="item item-input">
			<span class="label">放弃时间</span><span class="item-value">{{current.Extends.CancelPurchasingDatetime}}</span>
		</div>
		<div class="item comment item-icon-right">
			<span class="label">放弃原因</span>
			<a class="trigger" data-ng-click="showDescription=!showDescription"><i
			class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i
			class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{current.Extends.CancelPurchasingComment}}</span>
		</div>
	</div>
</div>
<pane x-ng-show="statuses[3].ActionID==Actions.cancelOrder.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>该订单已被买家放弃！</span>
		</div>
		<div class="item item-input">
			<span class="label">放弃时间</span><span class="item-value">{{current.Extends.CancelOrderDatetime}}</span>
		</div>
		<div class="item comment item-icon-right">
			<span class="label">放弃原因</span>
			<a class="trigger" data-ng-click="showDescription=!showDescription"><i
			class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i
			class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
			<span class="item-value" data-ng-hide="showDescription">{{current.Extends.CancelOrderComment}}</span>
		</div>
	</div>
</pane>