<div class="list">
	  <div class="item item-divider">{{item.Product.ProductDetailKind}}</div>
	  <div class="item item-avatar item-product">
	    <img x-ng-src="{{host}}/{{item.Product.Image}}">
	    <h2>{{item.Product.Name}}</h2>
	    <p>{{item.Product.Description}}</p>
	  </div>
	  <label class="item">品牌<span class="item-value">{{item.Product.Brand}}</span></label>
	  <label class="item">预想总价<span class="item-value">{{item.Product.ExpectedPrice}}元（人民币）</span></label>
	  <div class="item item-divider">
	   	商品参数
	  </div>
  	  <label class="item">功效<span class="item-value">{{item.Product.Exts.Function}}</span></label>
 	  <label class="item">色泽<span class="item-value">{{item.Product.Exts.Color}}</span></label>
  	 <div class="item item-divider"> 代购信息 </div>
	   <label class="item">代购国家<span class="item-value">{{item.Product.Country}}</span></label>
 </div>