<pane x-ng-show="current.ActionID==Actions.payConfirmed.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i>
			<span>买手尚未开始购买</span>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{current.Bid.Purchaser.Image | URI}}">
			<span>{{current.Bid.PurchaserNickName}}</span>
			<a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<!--<div style="text-align: center;">-->
		<!--<h1 style="color: #4a87ee"><i class="ion-ios7-information"></i><b> 买手尚未开始购买</b></h1>-->
		<!--</div>-->
		<div class="item">
			<button class="button button-assertive button-block" x-ng-click="cancelOrder();">取消订单</button>
		</div>
	</div>
</pane>

<pane x-ng-show="current.ActionID==Actions.purchasing.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i>
			<span>买手已经开始购买</span>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{current.Bid.Purchaser.Image | URI}}">
			<span>{{current.Bid.PurchaserNickName}}</span>
			<a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item">
			<span class="label"> 开始时间 </span><span class="item-value">{{current.Extends.PurchasingStartDatetime}}</span>
		</div>
		<div class="item">
			<span class="label"> 开始地点 </span><span class="item-value">中国 上海</span>
		</div>
	</div>
</pane>