<pane x-ng-show="current.ActionID==Actions.purchased.ID">
	<div class="list action data">
		<div class="item item-product-info">
			<div class="message message-strong energized">
				<i class="ion-ios7-information-outline"></i><span>买手尚未发货</span>
			</div>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{item.Bid.Purchaser.Image | URI}}">
			<span>{{item.Bid.PurchaserNickName}}</span>
			<a class="item-note" x-ng-click="showChat(item,item.Customer,item.Purchaser,false);"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item">
			<button class="button button-assertive button-block" x-ng-click="cancelOrder();">取消订单</button>
		</div>
	</div>
</pane>
<pane x-ng-show="current.ActionID==Actions.delivering.ID">
	<div class="list action data">
		<div class="item message message-strong energized">
			<i class="ion-ios7-information-outline"></i><span>买手已发货</span>
		</div>
		<div class="item item-avatar item-product-user">
			<img src="{{item.Bid.Purchaser.Image | URI}}">
			<span>{{item.Bid.PurchaserNickName}}</span>
			<a class="item-note" x-ng-click="showChat(item,item.Customer,item.Purchaser,false);"><i class="chatbox ion-chatbox-working"></i></a>
		</div>
		<div class="item">
			<span class="label">预计</span><span class="item-value">{{current.Extends.EstimateArriveDate}}到达</span>
		</div>
		<div class="item item-input">
			<span class="label">邮寄方式</span><span class="item-value">{{item.Bid.DeliveryMethodName}}</span>
		</div>
		<div class="item item-input" x-ng-show="item.Bid.DeliveryMethodID==1">
			<span class="label">快递公司</span><span class="item-value">{{current.Extends.CourierFirm}}</span>
		</div>
		<div class="item item-input" x-ng-show="item.Bid.DeliveryMethodID==1">
			<span class="label">快递单号</span><span class="item-value">{{current.Extends.TrackingNo}}</span>
		</div>
		<div class="item">
			<button class="button button-positive button-block" x-ng-click="confirmDelivering();">确认收货</button>
		</div>
	</div>
</pane>