<div class="list action data item-product-info">
	<div class="item message message-strong energized">
		<i class="ion-ios7-information-outline"></i><span>竞标成功</span>
	</div>
	<div class="item item-avatar item-product-user">
		<img src="{{item.Bid.Image | URI}}">
		<span >{{item.Bid.PurchaserNickName}}</span>
		<!--<a class="item-note"><i class="chatbox ion-chatbox-working"></i></a>-->
	</div>
	<div class="item">
		<span class="label"> 代购佣金 </span><span class="item-value">{{item.Bid.Commission | percent}}</span>
	</div>
	<div class="item">
		<span class="label"> 邮寄方式 </span><span class="item-value">{{item.Bid.DeliveryMethodName}}</span>
	</div>
	<div class="item">
		<span class="label"> 邮寄时间 </span><span class="item-value">{{item.Bid.Deadline}}</span>
	</div>
	<div class="item">
		<span class="label"> 建议价格 </span>
		<span class="item-value strength"><b>{{item.Bid.SuggestedPrice}}</b> 元</span><span class="comment" x-bg-price-hint="item.Bid.SuggestedPrice" x-price-from="item.Product.ExpectedPrice"></span>
	</div>
	<div class="item">
		<span class="label"> 运费 </span><span class="item-value">{{item.Bid.DeliveryCost}} 元</span>
	</div>
	<div class="item comment item-icon-right" x-ng-show="item.Bid.Comment">
		<span class="label"> 备注 </span>
		<a class="trigger"  data-ng-click="showDescription=!showDescription"><i class="icon ion-ios7-arrow-down  item-note" data-ng-show="showDescription"></i><i class="icon  ion-ios7-arrow-up item-note" data-ng-hide="showDescription"></i></a>
		<span class="item-value" data-ng-hide="showDescription">{{item.Bid.Comment}}</span>
	</div>
</div>