<ion-view title="已发布订单">
  <ion-content class="has-subheader">
    <div class="list padding-top" x-ng-repeat="order in orders" x-ng-controller="OrderInListCtrl">
    
	   <div class="item item-divider">{{order.ID}} </div>
		      <a x-ng-repeat="item in realOrder.Items"  class="item item-thumbnail-left"  href="#/tab/order/c/{{order.id}}/{{item.id}}">
		      <img src="img/u10.png">
		      <pre>{{realOrder.Product.Name}}      （ {{item.country}} ）
				价格：{{item.expectedPrice}}/元   
				到货周期：{{item.lastMonth}}个月</pre>
		      </a>
  </div>
  <ion-infinite-scroll on-infinite="loadMoreItems()" icon="ion-loading-c">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
