<div class="flow-block" x-ng-show="current.ActionID==Actions.sendout.ID">
<div class="list">
    <div x-ng-show="bids.length<1">
        <div class="item item-text-wrap text-center">
            <p>
                <i class="icon ion-sad" style="font-size: 600%; color: #aaa;"></i>
            </p>

            <h2 style="color: #aaa;">还没有买手竞标</h2>
        </div>
    </div>
	<div class="view-button" x-ng-repeat="suitor in bids">
		<!--<div class="item-avatar item-button-right">-->
			<!--<img src="img/mcfly.jpg">-->
			<!--{{suitor.suitor}}-->
			<!--<button class="button button-positive" x-ng-click="bitSucceed(suitor);">就是你</button>-->
		<!--</div>-->

        <div class="item item-product-info">
            <div class="item-avatar">
                <img src="img/mcfly.jpg">
                <!--<a onclick="alert('click')"><i style="font-size: 40px; color: #4a87ee;vertical-align: middle;" class="ion-chatbox-working"></i></a>-->
                <span >买手1假数据</span>
                <a class="item-note" onclick="alert('click')"><i class="chatbox ion-chatbox-working"></i></a>
             </div>
            <!--<div>-->
                <!--<label>买手</label><span class="item-value">{{suitor.suitor}}这是假数据</span>-->
                <!--<a class="item-icon-right" onclick="alert('click')"><i style="font-size: 180%; color: #4a87ee;" class="ion-chatbox-working item-note"></i></a>-->
            <!--</div>-->
            <div>
                <label>代购佣金</label><span class="item-value">{{suitor.Commission}} 元</span>
            </div>
            <div>
                <label>邮寄方式</label><span class="item-value">{{suitor.DeliveryMethodName}}</span>
            </div>
            <div>
                <label>代购期限</label><span class="item-value">{{suitor.Deadline}}</span>
            </div>
            <div>
                <label>建议价格</label><span class="item-value strength"><b>{{suitor.SuggestedPrice}}</b> 元</span>
                <span class="comment">12.12 元</span>
            </div>
            <div>
                <label>运费</label><span class="item-value">{{suitor.DeliveryCost}} 元</span>
            </div>
        </div>
		<!--<div class="list view">-->
			<!--<label class="item item-input item-input-note"><span class="input-label">代购佣金</span><span class="item-note">{{suitor.Commission}}元（人民币）</span></label>-->
			<!--<a class="item item-input item-input-note"><span class="input-label">邮寄方式</span><span class="item-note">{{suitor.DeliveryMethodName}}</span></a>-->
			<!--<label class="item item-input item-input-note"><span class="input-label">代购期限</span><span class="item-note">{{suitor.Deadline}}</span></label>-->
			<!--<label class="item item-input item-input-note"><span class="input-label">建议价格</span><span class="item-note">{{suitor.SuggestedPrice}}元（人民币）</span></label>-->
			<!--<label class="item item-input item-input-note"><span class="input-label">运费</span><span class="item-note">{{suitor.DeliveryCost}}元（人民币）</span></label>-->
		<!--</div>-->
	</div>
</div>
</div>
<div class="flow-block" x-ng-show="current.ActionID==Actions.payPrepare.ID">
<div class="list">
	<div class="item view-button">
		<div class="item-avatar">
			<img x-ng-src="img/mcfly.jpg">
			{{current.Bid.PurchaserName}}
		</div>
		<div class="list view">
			<label class="item item-input item-input-note"><span class="input-label">代购佣金</span><span class="item-note">{{current.Bid.Commission}}元（人民币）</span></label>
			<label class="item item-input item-input-note"><span class="input-label">邮寄方式</span><span class="item-note">{{current.Bid.DeliveryMethodName}}</span></label>
			<label class="item item-input item-input-note"><span class="input-label">代购期限</span><span class="item-note">{{current.Bid.Deadline}}</span></label>
			<label class="item item-input item-input-note"><span class="input-label">建议价格</span><span class="item-note">{{current.Bid.SuggestedPrice}}元（人民币）</span></label>
			<label class="item item-input item-input-note"><span class="input-label">运费</span><span class="item-note">{{current.Bid.DeliveryCost}}元（人民币）</span></label>
		</div>
	</div>
</div>
【{{current.TradeNo}}】
<button class="button button-positive button-block" x-ng-click="pay();">支付</button>
</div>
&nbsp;

