<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{product.name}}">
	<ion-nav-buttons side="right">      
      <a class="button button-icon icon ion-ios7-cart"  href="#/tab/cart">
	    <span  class="badge badge-positive">{{cart.size()}}</span>
     </a>
  </ion-nav-buttons>
  <ion-content has-header="true">
<div class="list">
	  <div class="item item-divider">{{product.ProductDetailKind}}</div>
	  <div class="item item-avatar item-product">
	    <img x-ng-src="{{host}}/{{product.Image}}">
	    <h2>{{product.Name}}</h2>
	    <p>{{product.Description}}</p>
	  </div>
	  <label class="item">品牌<span class="item-value">{{product.Brand}}</span></label>
	  <label class="item">预想总价<span class="item-value">{{product.ExpectedPrice}}元（人民币）</span></label>
	  <div class="item item-divider">
	   	商品参数
	  </div>
  	  <label class="item">功效<span class="item-value">{{product.Exts.Function}}</span></label>
 	  <label class="item">色泽<span class="item-value">{{product.Exts.Color}}</span></label>
  	 	<div class="item item-divider"> 代购信息 </div>
	   <label class="item">代购国家<span class="item-value">{{product.Country}}</span></label>
	  <label class="item">预想总价<span class="item-value">{{product.ExpectedPrice}}元（人民币）</span></label>
 </div>

<div class="padding">
	    <button class="button button-block  button-positive" x-ng-click="selectThis();"> 我也想买</button>
</div>

  </ion-content>
</ion-view>
