
<ion-view title="{{category.Name}}">
<ion-nav-buttons side="right">      
      <a class="button button-icon icon ion-ios7-cart" href="#/tab/cart">
	    <span  class="badge badge-positive">{{cart.size()}}</span>
     </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div ng-show="products.length==0">
    <p>{{category.Name}}分类下暂时还没有商品哦！</p></div>
	
    <div class="list">
      <a x-ng-repeat="product in products"  class="item item-thumbnail-left item-info"  href="#/tab/product/{{product.ID}}">
			      <img x-ng-src="{{host}}/{{product.Image}}">
			      <div class="list info"> 
			      		<span class="item"><h3>{{product.Name}}</h3></span>
			      		<span class="item">代购国家<span class="item-note"> {{product.ExpectedPrice}}/元</span>      </span>
			      		<span class="item">价格 <span class="item-note"> {{product.ExpectedPrice}}/元</span>      </span><!-- 实际成交价格 -->
			      		<span class="item">到货周期 <span class="item-note">{{item.lastMonth}}个月</span>   </span>
			      		<!-- 确认收货日期-开始购买日期 
			      			如果<7天 按天			      		
			      			如果>=7 按周
			      		-->
			      </div>
      </a>
	</div>
  </ion-content>
</ion-view>