<ion-view title="主页">
    <style>
        div.box{
            height: 160px;
            text-align: center;
        }

        .box img{
            width: 100%
        }

        .rect{
            border: #eaedee solid;
            border-width: 0 1px 1px 0;
            height: 0;
            padding: 4% 0 29% 0;
         }
    </style>

    <ion-nav-buttons side="left">
        <img src="img/logo4.png" height="32px">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-search" x-ng-click="search()">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" on-scroll="onScroll();" on-scroll-complete="onScrollComplete();">
        <ion-slide-box delegate-handle="band" does-continue=true auto-play=true slide-interval=2000>
            <ion-slide>
                <a  href="#/tab/product/1">
                    <div id="s1" class="box blue">
                        <img alt="1111" src="img/A001.jpg">
                    </div></a>
            </ion-slide>
            <ion-slide>
                <a  href="#/tab/product/2">
                    <div id="s2" class="box yellow">
                        <img alt="2222" src="img/A002.jpg">
                    </div></a>
            </ion-slide>
        </ion-slide-box>

        <!--<div class="layout">-->
            <!--<div class="item thumbnails_lists clear">-->
            <!--<a href="#/tab/products">-->
            <!--<img src="img/u10.png"></img>-->
            <!--<div class="name">个护化妆-01</div>-->
            <!--</a>-->

            <!--<a href="#/tab/products">-->
            <!--<img src="img/u10.png"></img>-->
            <!--<div class="name">个护化妆-01</div>-->
            <!--</a>-->

            <!--<a href="#/tab/products">-->
            <!--<img src="img/u10.png"></img>-->
            <!--<div class="name">个护化妆-01</div>-->
            <!--</a>-->
            <!--</div>-->

<!--            <div class="row" style="padding: 0 0 0 0">-->
<!--                <div class="col" style="padding: 0">-->
<!--                    <a class="item item-avatar" href="#" style="border-width: 0 0 0 0;">-->
<!--                        <img src="img/products/bag.jpg">-->
<!--                        <h2>皮革箱包</h2>-->
<!--                        <p>包</p>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col" style="padding: 0">-->
<!--                    <a class="item item-avatar" href="#" style="border-width: 0 0 0 0;">-->
<!--                        <img src="img/products/camera.jpg">-->
<!--                        <h2>数码</h2>-->
<!--                        <p>单反相机</p>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row" style="padding: 0 0 10px 0">-->
<!--                <div class="col" style="padding: 0">-->
<!--                    <a class="item item-avatar" href="#" style="border-width: 0 0 0 0;">-->
<!--                        <img src="img/products/diamond.jpg">-->
<!--                        <h2>珠宝饰品</h2>-->
<!--                        <p>钻石</p>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col" style="padding: 0">-->
<!--                    <a class="item item-avatar" href="#" style="border-width: 0 0 0 0;">-->
<!--                        <img src="img/products/mask.jpg">-->
<!--                        <h2>个护化妆</h2>-->
<!--                        <p>面膜</p>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!---->
<!--            <hr noshade="noshade" style="height: 15px; border: 0; background-color: #D9D9D9"/>-->

            <div class="row icon_lists text-center" x-ng-repeat="nc in category" style="padding: 0">
                <div class="row" style="padding: 0;">
                    <div class="col col-33 text-center rect" x-ng-repeat="c in nc">
                        <a ng-href="#/tab/products-category/{{c.id}}">
                            <i class="icon iconfont {{c.icon}}" style="background-color: #FFFFFF; color: {{c.color}}; font-size: 350%;"></i>
                            <br/>
                            <div class="name">{{c.name}}</div>
                        </a>
                    </div>
                </div>
            </div>

            <!--<table width="100%">-->
                <!--<tbody>-->
                    <!--<tr x-ng-repeat="nc in category" style="display: table-row">-->
                        <!--<td x-ng-repeat="c in nc" style="width: 33.33333%; height: 100%; display: table-cell; border-collapse: collapse;">-->
                            <!--<a ng-href="#/tab/products-category/{{c.id}}">-->
                                <!--<i class="icon iconfont {{c.icon}}" style="background-color: #FFFFFF; color: {{c.color}}; font-size: 350%;"></i>-->
                                <!--<br/>-->
                                <!--<div class="name">{{c.name}}</div>-->
                            <!--</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

        <!--</div>-->

        </div>
    </ion-content>
</ion-view>
