<ion-view title="主页">
	<ion-header-bar class="bar-assertive">
		<h1 class="title">订单</h1>
		<button class="button button-icon icon ion-search" x-ng-click="search()"></button>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div class="button-bar button-menubar">
			<a class="button button-clear active" href="#/orders/customer" x-ng-click="chooseMe($event)"><span>已发布</span></a>
			<a class="button button-clear " href="#/orders/purchaser" x-ng-click="chooseMe($event)"><span>代购中</span></a>
		</div>
	</div>
	<ion-nav-view name="x-orders"></ion-nav-view>
</ion-view>
