<ion-view>
	<ion-header-bar class="bar-assertive">
		<h1 class="title">清单 ({{countryName}})</h1>
		<div class="buttons">
			<a class="button button-icon icon ion-funnel" x-ng-click="filter()"></a>
		</div>
	</ion-header-bar>
	<ion-content class="has-header">
		<ion-refresher on-refresh="doRefresh()"  pulling-text="下拉刷新..."  refreshing-text="更新中"  refreshing-icon="ion-loading-c"></ion-refresher>
		<div x-ng-show="!currentUser.BePurchaser">
			<p>
				你还不是买手！
			</p>
			<div class="padding">
				<button class="button button-block button-positive" x-ng-click="becomePurchaser();">成为买手</button>
			</div>
		</div>
		<pane x-ng-show="currentUser.BePurchaser">
			<div x-ng-show="data.inventorys.length==0">
				<p>
					{{countryName}}暂时还没有商品哦！
				</p>
			</div>
			<!--
			<div class="list padding-top" x-ng-repeat="inventory in inventorys | filter: country" >
			<div class="item item-divider">
			{inventory.country} &nbsp;	    	{inventory.date}
			</div> -->

			<a x-ng-repeat="item in data.inventorys" class="item item-thumbnail-left item-info item-outline" x-ng-click="showDetail(item);"> <img x-ng-src="{{item.Product.Image | URI}}"> <!--<div class="list info">--> <!--<span class="item"><h3>{{item.Product.Name}}</h3></span>--> <!--<span class="item">价格 <span class="item-note"> {{item.Product.ExpectedPrice}}/元</span> </span>--> <!--<span class="item">到货周期 <span class="item-note">{{item.lastMonth}}个月</span> </span>--> <!--<span class="item">已有{{item.suitors.length}}位买手参与此次购买</span>--> <!--</div>--> <h2>{{item.Product.Name}}</h2>
			<div class="list data">
				<div class="item">
					<span class="label">单价</span><span class="item-value strength"><b>{{item.Product.Price}}</b>&nbsp;元</span>
				</div>
				<div class="item">
					<span class="label">件数</span><span class="item-value">{{item.Quantity}}</span>
				</div>
				<div class="item">
					<span class="label">买家</span><span class="item-value">{{item.CustomerNickName}}</span>
				</div>
				<div class="item">
					<span class="label" x-ng-show="item.SuitorCount">已有{{item.SuitorCount}}位买手参与此次购买</span>
					<span class="label" x-ng-hide="item.SuitorCount">还没有买手参与此次购买</span>
				</div>
			</div> </a>
		<ion-infinite-scroll on-infinite="loadMoreItems()" distance="1%" ng-if="moreDataCanBeLoaded()" icon="ion-loading-c"></ion-infinite-scroll>		
		</pane>
	</ion-content>
</ion-view>
