<ion-view title="我的">
	<ion-header-bar class="bar-stable">
		<h1 class="title">我的</h1>
	</ion-header-bar>
	<style>
		/*#ffd670*/
		/*#f99e8c*/
		/*#acd183*/
		/*#6bceb5*/
		/*#79cbe8*/
		/*#c2b2ea*/
		/*#e9a4cb*/
		/*#6c9bda*/
		/*#a894da*/
		/*实现垂直居中的五种方法*/
		a.item i.color-icon {
			width: 27px;
			height: 27px;
			font-size: 22px;
			color: white;
			border-radius: 6px 6px;
			padding-top: 1px;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		div.account {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 5px;
			width: 100%;
			height: 104px;
			background-image: url(img/account_bg.jpg);
			background-size: 100%;
		}

		div.account a.avatar {
			background: none;
			border: 0;
			display: block;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			padding: 0 15px;
		}

		div.account a img {
			border: 0;
			display: block;
			width: 64px;
			height: 64px;
			border-radius: 12px 12px;
			padding-top: 1px;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		div.account p {
			height: 64px;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
		}
	</style>

	<ion-content class="has-header">
		<div class="account" style="background-color: red; text-align: center;" x-ng-if="!currentUser.isLogin">
			<div style="margin: auto auto;">
				<button class="button button-outline button-assertive" style="border-radius: 4px; font-weight: bold;"
				x-ng-click="showLogin();">登陆&nbsp;/&nbsp;注册 </button>
			</div>
		</div>
		<div class="account" x-ng-if="currentUser.isLogin">
			<a class="item avatar" x-ng-click="showUser();"> <img x-ng-src="{{currentUser.Image | URI}}"> </a>
			<p x-ng-click="showUser();">
				<a style="font-size: 120%">{{currentUser.NickName}} <span x-ng-show="currentUser.BePurchaser">(买手)</span></a>
			</p>
		</div>

		<div class="list">

			<a class="item item-icon-left item-icon-right" x-ng-click="becomePurchaser();" x-ng-hide="currentUser.BePurchaser"> <i class="icon ion-ios7-people-outline color-icon" style="background-color: #ff565b"></i> 成为买手 <i class="icon ion-ios7-arrow-forward item-note"></i> </a>

			<a class="item item-icon-left item-icon-right" x-ng-click="editUser();"> <i class="icon ion-ios7-gear-outline color-icon" style="background-color: #ffd670"></i> 设置 <i class="icon ion-ios7-arrow-forward item-note"></i> </a>

			<a class="item item-icon-left item-icon-right" x-ng-click="editBanlance();"> <i class="icon ion-ios7-paper-outline color-icon" style="background-color: #f99e8c"></i> 我的账本 <i class="icon ion-ios7-arrow-forward item-note"></i> </a>

			<a class="item item-icon-left item-icon-right" x-ng-click="showAbout();"> <i class="icon ion-ios7-information-outline color-icon" style="background-color: #acd183"></i> 关于我们 <i class="icon ion-ios7-arrow-forward item-note"></i> </a>

			<a class="item item-icon-left item-icon-right" x-ng-click="showLegal();"> <i class="icon ion-ios7-help-outline color-icon" style="background-color: #6bceb5"></i> 服务条款 <i class="icon ion-ios7-arrow-forward item-note"></i> </a>
		</div>
	</ion-content>
</ion-view>
