<ion-view title="购物车">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus" x-ng-click="neworder()"></a>
    </ion-nav-buttons>

    <ion-content>
    
    <div class="list">
    	<div class="item" x-ng-repeat="p in provinces">{{p.name}}</div>
    </div>
        <div ng-show="cart.size()==0">
            <!--<p >你还没有选中任何东西哦！</p>-->
            <!--<div class="padding">-->
            <!--<button class="button button-block button-positive"  x-ng-click="neworder()">新建订单</button>-->
            <!--</div>-->
            <div class="card">
                <div class="item item-text-wrap text-center">
                    <p><i class="icon ion-ios7-cart" style="font-size: 600%"></i></p>
                    <h2>亲，您还没有任何订单哦~~~</h2>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" x-ng-click="neworder()">新建订单</button>
            </div>
        </div>

        <pane x-ng-show="step==1 && cart.size()!=0">

            <ion-list   ng-repeat="country in cart.Countrys"  class="padding-horizontal"
                        show-delete="false"
                        show-reorder="false"
                        can-swipe="true" ng-if="country.Items.length>0">
                <div class="item item-divider item-checkbox-left">
                    <input type="checkbox"  x-ng-model="data.checkall"/>
                    {{country.Name}}
                </div>
                <ion-item ng-repeat="item in country.Items"  class="item-checkbox-thumbnail-left">
                    <img x-ng-src="{{item.Product.Image}}">
                    <h2>{{item.Product.Name}} </h2>
                    <p>
                        {{item.Product.Country}}
                        价格：{{item.Product.ExpectedPrice}}/元
                        数量：{{item.Amount}}
                        到货周期：{{item.lastMonth}}个月</p>
                    <input type="checkbox"  x-ng-modal="item.isChecked" x-ng-click="checked(item)"/>
                    <ion-option-button class="button-info button-assertive"    ng-click="country.Items.splice($index, 1)">删除</ion-option-button>
                    <ion-delete-button class="ion-minus-circled"                   ng-click="country.Items.splice($index, 1)">    </ion-delete-button>
                </ion-item>
                <div class="item item-divider item-checkbox-left">合计</div>
            </ion-list>
            <div class="padding">
                <button class="button button-block  button-positive" x-ng-click="next()"> 发布</button>
            </div>
        </pane>

        <pane x-ng-show="step==2">
 			<form name="mainform" novalidate>
 			<div class="list">
               <div x-ng-repeat="item in Items"  class="item item-thumbnail-left">
                    <img x-ng-src="{{item.Product.Image}}">
                    <h2>{{item.Product.Name}} </h2>
                    <p>
                        {{item.Product.Country}}
                        价格：{{item.Product.ExpectedPrice}}/元
                        数量：{{item.Amount}}
                        到货周期：{{item.lastMonth}}个月</p>
              </div>
 		</div>
 
            <div class="list" >
                <div class="item item-divider">
                    代购信息
                </div>
                <label class="item item-input">
                    <span class="input-label">代购期限</span>
                    <input type="date" x-ng-model="order.Deadline" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">备注</span>
                    <textarea x-ng-model="order.Comment"></textarea>
                </label>
                <div class="item item-divider">
                    收件地址
                </div>
               	<a class="item item-input item-icon-right"  x-ng-click="popupProvinces();"><span class="input-label">地区</span>
   					<span class="item-note">{{order.Address.Province}}-{{order.Address.City}}-{{order.Address.Area}}</span><i class="icon ion-ios7-arrow-forward"></i></a>
   
                <label class="item item-input">
                    <span class="input-label">详细地址</span>
                    <input type="text" x-ng-model="order.Address.Address">
                </label>
                <label class="item item-input">
                    <span class="input-label">邮编</span>
                    <input type="text" x-ng-model="order.addres.Zip">
                </label>
                <label class="item item-input">
                    <span class="input-label">联系人</span>
                    <input type="text" x-ng-model="order.Address.Contact">
                </label>
                <label class="item item-input">
                    <span class="input-label">联系电话</span>
                    <input type="text" x-ng-model="order.Address.Phone">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block  button-positive" x-ng-disabled="mainform.$invalid"  x-ng-click="submit()"> 确认</button>
            </div>
            </form>
        </pane>

    </ion-content>
</ion-view>
