<ion-view title="主页">
<style>
div.box{
	height: 100px;
	text-align: center;
}

.box img{
	width: 100%
}

</style>
	<ion-nav-buttons side="left">    
  		<img src="img/logo3.png" height="32px" width="32px">
	</ion-nav-buttons>
	<ion-nav-buttons side="right">    
      <button class="button button-icon icon ion-search" x-ng-click="search()">
     </button> 
      <a class="button button-icon icon ion-plus" x-ng-click="neworder()">
     </a>
  </ion-nav-buttons>
  <ion-content class="has-header" on-scroll="onScroll();" on-scroll-complete="onScrollComplete();">
    <ion-slide-box delegate-handle="band" does-continue=true auto-play=true slide-interval=2000>
    <ion-slide>
    <a  href="#/tab/product/1">
      <div id="s1" class="box blue">
        <img alt="1111" src="img/A001.jpg">
      </div></a>
    </ion-slide>
    <ion-slide>
    <a  href="#/tab/product/2">
      <div id="s2" class="box yellow">
        <img alt="2222" src="img/A002.jpg">
      </div></a>
    </ion-slide>
  </ion-slide-box>
    
  <div class="list layout">
      <div class="item thumbnails_lists clear">
             <a href="#/tab/products">
             	<img src="img/u10.png"></img>
                 <div class="name">个护化妆-01</div>
             </a>
         
             <a href="#/tab/products">
             	<img src="img/u10.png"></img>
                 <div class="name">个护化妆-01</div>
             </a>
         
             <a href="#/tab/products">
             	<img src="img/u10.png"></img>
                 <div class="name">个护化妆-01</div>
             </a>
        </div>

      <div class="row item icon_lists text-center" x-ng-repeat="nc in category">
          <div class="row">
              <div class="col col-25 text-center" x-ng-repeat="c in nc">
                  <a ng-href="#">
                      <i class="icon iconfont {{c.icon}}" style="background-color: {{c.color}}"></i>
                      <div class="name">{{c.name}}</div>
                  </a>
              </div>
          </div>
      </div>
         
     </div>
     </div>
  </ion-content>
</ion-view>
