<ion-view title="Account">

    <style>
        /*#ffd670*/
        /*#f99e8c*/
        /*#acd183*/
        /*#6bceb5*/
        /*#79cbe8*/
        /*#c2b2ea*/
        /*#e9a4cb*/
        /*#6c9bda*/
        /*#a894da*/
        /*实现垂直居中的五种方法*/
        a.item i.color-icon {
            width: 28px;
            height: 28px;
            font-size: 22px;
            color: white;
            border-radius: 6px 6px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    </style>

    <ion-content class="has-header">
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right" href="#/tab/accounts/info">
                <img src="img/mcfly.jpg">

                <h2>{{currentUser.username}}</h2>
                <i class="icon ion-ios7-arrow-forward item-note"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/accounts/setting">
                <i class="icon ion-ios7-gear-outline color-icon" style="background-color: #ffd670"></i>
                设置
                <i class="icon ion-ios7-arrow-forward item-note"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/accounts/account">
                <i class="icon ion-ios7-paper-outline color-icon" style="background-color: #f99e8c"></i>
                我的账本
                <i class="icon ion-ios7-arrow-forward item-note"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/accounts/about">
                <i class="icon ion-ios7-information-outline color-icon" style="background-color: #acd183"></i>
                关于我们
                <i class="icon ion-ios7-arrow-forward item-note"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/tab/accounts/legal">
                <i class="icon ion-ios7-help-outline color-icon" style="background-color: #6bceb5"></i>
                服务条款
                <i class="icon ion-ios7-arrow-forward item-note"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
