<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/ali/fonts/iconfont.css">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filter.js"></script>
  </head>
  <body ng-app="starter" animation="slide-in-up" x-ng-controller="GlobalCtrl">
<ion-tabs class="tabs-icon-top tabs-stable">

  <ion-tab title="首页" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="购物车" icon="icon ion-ios7-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="清单" icon="icon ion-model-s" href="#/tab/inventorys">
    <ion-nav-view name="tab-inventorys"></ion-nav-view>
  </ion-tab>

  <ion-tab title="订单" icon="icon ion-clipboard" href="#/tab/orders-customer">
   	<ion-header-bar class="bar-assertive">
		<h1 class="title">订单</h1>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div class="tabs tabs-stable tabs-menu" x-ng-controller="tabsMenuCtrl">
		  <a class="tab-item tab-item-active" href="#/tab/orders-customer" x-ng-click="showThis($event.target);">已发布</a>
		  <a class="tab-item" href="#/tab/orders-purchaser" x-ng-click="showThis($event.target);">代购中</a>
		</div>
	</div>
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的" icon="icon ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>

  </body>
</html>
