/* 订单Action布局*/
.list {
	padding-left: 0;
	padding-right: 0;
}

.list.data {
    border: none;
}

.list.action.data {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.list.data>.item>.label,.data-view .item-extends>.label {
	font-weight: bold;
	width: 6em;
	max-width: 6em;
	display: inline-block;
}

.list.top>.item {
	padding: 4px 0px;
	border: 1px solid #ddd;
}

.list.data>.item,.data-view .item.item-extends {
	padding: 4px 8px;;
	border: none;
}

.data-view .item-extends {
	-webkit-box-align: center;
	-webkit-font-smoothing: antialiased;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(68, 68, 68);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(68, 68, 68);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(68, 68, 68);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(68, 68, 68);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(68, 68, 68);
	cursor: default;
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
		sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 28px;
	line-height: 19.999979019165px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	position: relative;
	text-overflow: ellipsis;
	vertical-align: baseline;
	white-space: nowrap;
	width: 509px;
	z-index: 2;
}

.data-view .item-extends>.input-label {
	-webkit-font-smoothing: antialiased;
	border-bottom-color: rgb(68, 68, 68);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(68, 68, 68);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(68, 68, 68);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(68, 68, 68);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(68, 68, 68);
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
		sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: 84px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: baseline;
	white-space: nowrap;
	width: 84px;
}

.data-view .item-extends>input {
	text-align: left;
	padding: 0;
	line-height: 16px;
	height: 16px;
	color: gray;
}

.list.data>.item.item-avatar {
	padding-left: 60px;
}

.list.data>.item>.item-value {
	color: gray;
}

.item-options-right {
	padding-right: 120px;
}

.item-options-right>.options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	position: absolute;
	top: 0px;
	right: 16px;
	min-width: 34px;
	min-height: 34px;
	font-size: 18px;
	line-height: 32px;
	height: 100%;
	vertical-align: middle;
}

.item-options-right>.button .icon:before {
	position: relative;
	left: auto;
	width: auto;
	line-height: 31px;
}

.item-options-right>.button>.button {
	margin: 0px 2px;
	min-width: 34px;
	min-height: 34px;
	font-size: 18px;
	line-height: 32px;
}

.item-product-image {
	padding: 0;
	text-align: left;
}

.button-bar.button-menu .button.active {
	color: red;
}

.item-product-image img:first-child,.item-image .list-img {
	vertical-align: middle;
}

.item-product-image .img-product {
	padding: 3px;
	height: 160px;
	width: 160px;
}

.scroll-content {
	
}

.category  a {
	text-decoration: none;
	color: black;
}

a.link {
	cursor: pointer;
	color: blue;
}

.button .badge {
	position: absolute;
	top: -3px;
	left: -3px;
}

.bar {
	color: #f0b840;
}

.tab-item-active {
	color: red;
}

.item { /*font-size: 10px;*/
	font-size: 100%;
}

.bar-subheader .tabs {
	line-height: 33px;
	padding-top: 17px;
}

.bar-subheader .tabs .tab-item.tab-item-active {
	border-bottom: solid 1px red;
}

.bar-subheader {
	padding: 0px;
}

.bar-subheader .tabs {
	background: none;
}

.item-lang-value {
	padding-top: 5px;
	float: left;
	color: black;
	font-size: 14px;
	overflow: visible;
}

.list.view {
	border: none;
	background: none;
}

.list.view .item {
	border: none;
	background: none;
	padding: 1px;
}

.view-button .item-avatar {
	min-height: 44px;
}

.view-button .item-avatar .button {
	top: 18px;
}

img.main {
	width: 160px;
	height: 160px;
}

.item-graph {
	overflow: auto;
	/*text-overflow: inherit;*/
	white-space: normal;
}

.thumbnails_lists a {
	padding: 5px;
	float: left;
	width: 100px;
	height: 120px;
	text-align: center;
}

.thumbnails_lists a img {
	height: 80px;
	width: 80px;
	box-shadow: 1px 1px 1px #bbbbbb;
}

.icon_lists a { /*float:left;*/
	width: 80px;
	height: 82px;
	text-align: center;
	text-decoration: none;
}

.icon_lists .name {
	overflow: hidden;
	text-decoration: none;
	color: black;
	margin-top: 8px
}

.icon_lists .icon {
	font-size: 40px;
	line-height: 60px;
	margin: 10px 0;
	color: white;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
	padding: 6px;
	border-radius: 12px 12px;
	background-color: OrangeRed;
	text-decoration: none;
}

.icon_lists .icon:hover {
	
}

.list.layout {
	border: none;
	padding: 0em;
}

.list.layout .item {
	border: none;
	padding: 10px 0px;
}

.item-checkbox-left {
	padding-left: 40px;
}

.item-checkbox-left input {
	position: absolute;
	top: 10px;
	left: 15px;
	max-width: 20px;
	max-height: 20px;
	width: 20px;
}

.item-checkbox-thumbnail-left,.item-checkbox-thumbnail-left .item-content
	{
	padding-left: 136px;
	min-height: 100px;
}

.item-checkbox-thumbnail-left .item-content img:first-child {
	position: absolute;
	top: 10px;
	left: 40px;
	max-width: 80px;
	max-height: 80px;
	width: 100%;
}

.item-checkbox-thumbnail-left .item-content input[type=checkbox] {
	position: absolute;
	top: 40px;
	left: 15px;
	max-width: 20px;
	max-height: 20px;
	width: 20px;
}

.item-avatar.item-complex,.item-avatar-left.item-complex,.item-checkbox-thumbnail-left.item-complex
	{
	padding-left: 0;
}

.item-range-input {
	padding-right: 10px;
}

.item-range-input .seperator {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 10px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 10px;
	-ms-flex: 1 0 10px;
	flex: 1 0 10px;
}

.item-input.item-range-input input {
	-webkit-box-flex: 10;
	-webkit-flex: 10 0 40px;
	-moz-box-flex: 10;
	-moz-flex: 10 0 40px;
	-ms-flex: 10 0 40px;
	flex: 10 0 40px;
}

.item-input-note input {
	-webkit-box-flex: 10;
	-webkit-flex: 10 0 40px;
	-moz-box-flex: 10;
	-moz-flex: 10 0 40px;
	-ms-flex: 10 0 40px;
	flex: 10 0 40px;
}

.item-input-note .item-note {
	/*-webkit-box-flex: 10;*/
	/*-webkit-flex: 10 0 20px;*/
	/*-moz-box-flex: 10;*/
	/*-moz-flex: 10 0 20px;*/
	/*-ms-flex: 10 0 20px;*/
	/*flex: 10 0 20px;*/
	/*padding-left: 10px;*/
    /*float: right;*/
    top: 13px;
    right: 11px;
    text-align: center;
    min-width: 32px;
    position: absolute;
    height: 100%;
    font-size: 16px;
}

input.ng-invalid.ng-dirty {
	background-color: red;
}

.item-info .list {
	margin-bottom: 0px;
}

.item-info .item {
	padding: 0px;
	border: none;
	background: none;
}

.item-product { /*padding-left: 200px;*/
	padding: 0;
	height: 180px;
	text-align: center;
}

.item-avatar.item-product img {
	max-width: 160px;
	max-height: 160px;
	height: 160px;
	width: 160px;
	padding: 0;
	top: 10px;
	left: 0;
	position: relative;
}

.bar-subheader .button-bar>.button,.bar-subheader .buttons>.button {
	height: 34px;
	min-height: 32px;
	line-height: 32px;
}

.bar-subheader {
	border-top: none;
	border-bottom: none;
}

.bar.bar-subheader {
	height: 34px;
}

.has-subheader {
	top: 78px;
}

.platform-ios.platform-cordova .modal-wrapper .modal .has-header,.platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader
	{
	top: 34px;
}

.platform-ios.platform-cordova:not  (.fullscreen  ) .has-header,.platform-ios.platform-cordova:not
	 (.fullscreen  ) .bar-subheader {
	top: 64px;
}

.platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
	top: 76px;
}

.platform-ios.platform-cordova:not   (.fullscreen   ) .has-subheader {
	top: 108px;
}

.bar-subheader .button-bar>.button,.bar-subheader .buttons>.button {
	border-bottom: 1px #DDDDDD solid;
	border-top: none;
}

.bar-subheader .button-bar>.button.active,.bar-subheader .buttons>.button.active
	{
	border-bottom: 2px red solid;
	border-right-width: 1px;
	border-radius: 0px 0px 0px 0px;
	color: red;
}

.button-clear.active,.button-clear.activated {
	opacity: 1;
}

table.category .rect {
	border: #eaedee solid;
	border-width: 0 1px 1px 0;
	vertical-align: middle;
	text-align: center;
}

table.category tr th {
	text-align: left;
	font-size: 60%;
	width: 4em;
}

table.category td.rect i {
	background-color: #FFFFFF;
	font-size: 350%;
}

textarea {
	resize: none;
}

div.item-product-title {
	padding: 8px 12px;
}

div.item-product-title h2 {
	padding-bottom: 0.3em;
	font-size: 120%;
	font-weight: bold;
	word-wrap: break-word;
	white-space: normal;
}

div.item-product-title div {
	font-size: 70%;
	color: gray;
	display: inline;
	font-weight: normal;
}

@media screen and (max-device-width : 400px) {
    div.item-product-title div.right {
        position: relative;
        display: block;
    }
}

@media screen and (min-device-width : 400px) {
    div.item-product-title div.right {
        position: absolute;
        right: 8px;
        bottom: 4px;
        display: inline;
    }
}

div.item-product-title div i {
	padding-right: 5px;
}

.item-product-user {
	margin-bottom: 6px;
	min-height: 48px;
}

.item-avatar.item-product-user img:first-child {
	top: 6px;
	left: 10px;
}

.item-product-user img+span {
	font-weight: bold;
	margin-top: 12px;
	display: inline-block;
}

.item-product-user i.chatbox {
	position: absolute;
	font-size: 40px;
	color: #4a87ee;
	top: 6px;
	right: 8px;
}

.item-product-user div label {
	font-weight: bold;
	width: 6em;
	display: inline-block;
}

.item-value { /*float: right;*/
	/*position: absolute;*/
	/*left: 7em;*/
	position: relative;
	color: gray;
	font-size: 14px;
}

div.item.item-product-desc.no-border {
	border: 0;
	margin: 0 -12px 0 0;
}

div.item-product-desc div .item-icon-right i {
	display: inline-block;
	padding-top: 8px;
}

div.item-product-desc .item-value {
	position: relative;
	left: 0;
	word-wrap: break-word;
	white-space: normal;
}

.flow-block { /*min-height: 10em;*/
	padding: 0px;
}

div.message i {
	vertical-align: middle;
	margin-right: 0.3em;
}

.list.action.data div.message.message-strong {
	padding-bottom: 8px;
}

div.message.message-strong i,div.message.message-strong span {
	font-size: 150%;
	vertical-align: middle;
}

div.item-product-info div.message+.item-avatar .item-note i.chatbox {
	top: 44px;
}

.font-note {
	color: #aaaaaa;
}

.list.data>.item>.item-value.strength {
	color: #ff6767;
}

.item-value.strength b {
	font-weight: bold;
	font-size: 16px;
    margin-left: 0px;
}

.list.action .item-value.strength b {
    margin-left: -4px;
}

.item-value.strength + .comment {
    margin-left: 1em;
    font-size: 80%;
    color: #aaaaaa;
}

.item.input-comment{
}

.item.input-comment .input-label {
	padding-bottom: 4px;
}

.item.input-comment .input-value {
	display: block;
	clear: both;
	white-space: normal;
}

.item.input-comment .trigger i {
	background-color: orange;
}

.item.input-comment .trigger {
	position: absolute;
	top: 14px;
	right: 0px;
}


.item.comment {
	
}

.item.comment .label {
	padding-bottom: 4px;
}

.item.comment .item-value {
	display: block;
	clear: both;
	white-space: normal;
}

.item.comment .trigger i {
	background-color: orange;
}

.item.comment .trigger {
	position: absolute;
	top: 14px;
	right: 0px;
}

.list.suitor {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 4px 6px;
}

div.prog {
    text-align: center;
}

.prog.active {
    font-weight: bold;
}

.prog .name {
    /*position: relative;*/
    /*width: 5em;*/
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
    /*left: -2em*/

    width: 1.1em;
    margin: 0 auto;
    /*font-weight: bold;*/
    white-space: normal;
}

.prog i {
    font-size: 2em;
}

.prog i.prog-arrow {
    font-size: 1em;
}

.item.item-info.item-outline img {
    /*top: 17px;*/
}

.item.item-info.item-outline h2 {
    font-weight: bold;
    margin-bottom: 1px;
}

.item.item-info.item-outline .notify {
    position: absolute;
    top: 45px;
    right: 32px;
}

.item.item-info.item-outline .list .item {
    padding: 1px;
}

.item.item-info.item-outline .list .item .label {
    width: 3em;
    font-weight: normal;
}

.item.item-outline .order-state {
    font-size: 70%;
    font-weight: normal;
    color: white;
    border-radius: 4px 4px;
    padding: 3px 6px;
    vertical-align: middle;
}

label.checkbox input[type=checkbox].samll-checkbox {
    position: relative;
    top: 0;
    left: 0;
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
}

label.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: red;
}

label.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: red;
}

label.checkbox.note input:before, .checkbox.note .checkbox-icon:before {
    border-color: #aaaaaa;
}

label.checkbox.note input:checked:before, .checkbox.note input:checked + .checkbox-icon:before {
    background: #aaaaaa;
}

label.checkbox input:after, .checkbox-icon:after {
    -webkit-transition: opacity 0.05s ease-in-out;
    -moz-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 30%;
    left: 21%;
    display: table;
    width: 12px;
    height: 8.33333px;
    border: 3px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}

.order-state-bid {
    color: #f0b840;
}

.order-state-purchase {
    color: #8a6de9;
}

.order-state-delivering {
    color: #4a87ee;
}

.order-state-completed {
    color: #66cc33;
}

.order-state-disabled {
    color: #aaaaaa;
}

.order-state-bid-bg {
    background-color: #f0b840;
}

.order-state-purchase-bg {
    background-color: #8a6de9;
}

.order-state-delivering-bg {
    background-color: #4a87ee;
}

.order-state-completed-bg {
    background-color: #66cc33;
}

.order-state-disabled-bg {
    background-color: #aaaaaa;
}
